// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table-info,
.table-info>th,
.table-info>td {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.tags {
    color: white;
    border-radius: 15px 15px;
    background-color: gray;
    display: inline-block;
    width: auto;
    padding: 0 0.5em;
    height: auto;
    margin: 0 0.25em;
}

.layout-navbar-fixed.layout-fixed .wrapper .sidebar {
    margin-top: 0;
}

.user-list {
    list-style: decimal;

    li>a {
        display: inline-block;
        font-size: 1.25em;
        font-weight: bold;
    }
}

.member-list {
    list-style: decimal;
}

.user-role {
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize !important;
}


.auth-page {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.twitch-player-wrapper {
    height: 65vh !important;
}

.widget-user .user-logo {
    left: 15%;
    margin-left: -45px;
    position: absolute;
    top: 10px;
}

.user-logo>img {
  max-width: 64px;
}


//cards

.custom-overlay {
    position: fixed;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Black background with opacity */
    z-index: 2;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}

.overlay-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: inherit;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.event-card:hover {
    cursor: pointer;

    .overlay-text {
        display: inline-block;
    }
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    background-color: rgba(0,0,0, 0.0525);
}

.w-60 {
    width: 60%;
}
.w-70 {
    width: 70%;
}
.w-90 {
    width: 90%;
}

.clickable {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.15);
}

.clickable:hover {
    border-bottom: 3px solid $blue;
}

//search header
.custom-search-result-list-header {
  display: flex;
  margin-top: 57px;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 2;
}


//CSS Loader
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: gray;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  //CSS LOADER END

  .event-sub-team-info-component > div {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .simple-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
    color: $blue;
  }


//blocks
.block {
  border-radius: 25px;
  border: 1px solid gray;
}

.operation-block, .operation-field {
  background-color: lightskyblue;
}

.operation-block {
  display: inline-flex;
}

.operator-block {
  padding: 0.15em 0.5em;
}

.operation-input {
  width: 25px;
  border-top-left-radius: 25px;
}

.operation-output {
  width: 25px;
  border-top-right-radius: 25px;
}

.operation-field {
  padding: 1em;
  input {
    width: 100%;
  }
}

.item {
  margin-bottom: 1em;
}

.point-field {
  border: 1px solid rgba(211, 211, 211, 0.178);
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

.list-group {
  padding: 1em;
  min-width: 50px;
  min-height: 50px;
}

.nest-group {
  background-color: lightcoral;
  padding: 1em;
  min-width: 50px;
  min-height: 50px;
}

//blocks-end


//text
.italic {
  font-style: italic;
}