.ecard{background-color:rgba(0,0,0,.7)}.ecard p{color:#fff}.ecard .entry{padding-bottom:2px}.position{text-align:center}.entry:first-child p{font-weight:700;color:#ff0}.headline{color:#fff;padding:1em;font-size:1.5em;font-weight:700;text-transform:uppercase;background-color:rgba(0,0,0,.7);border-bottom:1px solid #fff}
