<template>
    <section class="twitch-live">
        <div :id="previewId" class="twitch-player"></div>
    </section>
</template>
<script>
export default {
    name: "TwitchLiveStreamComponent",
    props:  {
        user: Object,
        channelName: String,
        autoload: {
            type: Boolean,
            default: true,
        },
    },
    data() {
        return {
            options: {
                width: "100%",
                height: "500",
                channel: "",
                //parent: ["embed.example.com", "othersite.example.com"]
            },
            player: null,
            previewId: "",
        }
    },
    mounted() {
        this.previewId = Math.random().toString(36).substring(7);
        this.setChannelName();

        if(this.autoload) {
            this.setTwitchPlayer();
        }
    },
    methods: {
        setTwitchPlayer() {
            if(!_.isEmpty(this.options.channel) && !_.isEmpty(this.previewId)) {
                if(this.player == null || this.autoload) {
                    $('#'+this.previewId).empty();
                    this.player = new Twitch.Player(this.previewId, this.options);
                    this.player.setVolume(0);
                }
            }
        },
        setChannelName() {
            if(!_.isEmpty(this.channelName)) {
                this.options.channel = this.channelName;
            } else {
                this.options.channel = this.user.twitch_channel_name;
            }
        },
        activate() {
            this.setChannelName();
            this.setTwitchPlayer();
        },
        deactivate() {
            this.player.stop();
            this.player.setVolume(0);
        }
    },
    computed: {
        twitchChannelLink() {
            return "https://www.twitch.tv/"+this.channel;
        },
    },
    watch: {
        user() {
            if(this.autoload) {
                this.activate();
            }
        }
    }
}
</script>