<template>
    <section class="twitch-chat">
        <div v-if="channel">
            <iframe id="twitch-chat-embed"
                    :src="channel"
                    height="500"
                    width="100%"
                    sandbox="allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-modals"
                    :theme="theme">
            </iframe>
        </div>
    </section>
</template>
<script>
import { APP_DOMAIN } from '../../axios';
import {AppState, AppStore} from './../UI/App/AppStore';

export default {
    name: "TwitchLiveChatComponent",
    props: {
        user: Object,
    },
    data() {
        return {
            channel: null,
            theme: "dark",
        }
    },
    methods: {
        load() {
            this.setChannel();
        },
        setChannel() {
            if(!_.isEmpty(this.user.twitch_channel_name)) {
                this.channel = "https://www.twitch.tv/embed/"+this.user.twitch_channel_name+"/chat?parent="+APP_DOMAIN;
            } else {
                this.channel = null;
            }
        }
    },
    computed: {
        isDarkMode() {
            return AppState.isDarkMode;
        }
    },
    watch: {
        user() {
            this.load();
        },
        isDarkMode() {
            this.theme = (this.isDarkMode == true) ? "dark" : "light";
            this.setChannel(); //refresh iframe
        }
    }
}
</script>