<template>
  <section class="event-point-template-editor">
    <div class="row">
      <div class="col-md-4">
        <!-- Editor Block selection -->
        <point-block-panel></point-block-panel>
      </div>
      <div class="col-md-8">
        <!-- Editor Template -->
        <point-template :eventId="eventId" :templateId="templateId" @template-saved="onTemplateSaved"></point-template>
      </div>
    </div>
  </section>
</template>
<script>
import PointBlockPanel from "./PointBlockPanel.vue";
import PointTemplate from "./PointTemplate.vue";
export default {
  components: { PointBlockPanel, PointTemplate },
  name: "PointTemplateEditor",
  props: {
    eventId: {
      type: Number,
      default: 0,
    },
    templateId: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    onTemplateSaved(templateId) {
      this.$emit('template-saved', templateId);
    }
  }
};
</script>