<template>
  <section class="points-template-block-panel">
    <div class="card">
      <div class="card-header">
        Calculation Blocks
      </div>
      <div class="card-body">
        <draggable
          class="list-group"
          :list="blocks"
          :group="{ name: 'blocks', pull: 'clone', put: false }"
          :clone="handleClone"
        >
          <transition-group>
            <div class="item" v-for="block in blocks" :key="uuid(block)">
                <component :is="block.component" class="block" :class="block.blockClass"></component>
            </div>
          </transition-group>
        </draggable>
      </div>
    </div>
  </section>
</template>
<script>
import draggable from "vuedraggable";
import Vue from 'vue';
import {BlockUtils} from './blocks/BlockUtils';
import BlockOpertationPlus from "./blocks/BlockOperationPlus.vue";
import BlockOperationMinus from './blocks/BlockOperationMinus.vue';
import BlockLimitMax from './blocks/BlockLimitMax.vue';
import BlockLimitMin from './blocks/BlockLimitMin.vue';
import BlockCompareLessThan from './blocks/BlockCompareLessThan.vue';
import BlockCompareGreaterThan from './blocks/BlockCompareGreaterThan.vue';
import { Utils } from '../../../utils/utils';

export default {
  components: { draggable, BlockOpertationPlus, BlockLimitMax, BlockLimitMin, BlockCompareLessThan, BlockCompareGreaterThan, BlockOperationMinus },
  data() {
    return {
      blocks: [
        {
          name: "Plus Operation",
          component: BlockOpertationPlus,
          blockClass: "block-plus",
          id: 0,
        },
        {
          name: "Minus Operation",
          component: BlockOperationMinus,
          blockClass: "block-minus",
          id: 0,
        },
        // {
        //   name: "Less Than Comparison",
        //   component: BlockCompareLessThan,
        //   blockClass: "block-compare-less",
        // },
        // {
        //   name: "Greater Than Comparison",
        //   component: BlockCompareGreaterThan,
        //   blockClass: "block-compare-greater",
        // },
        {
          name: "Limit Max",
          component: BlockLimitMax,
          blockClass: "block-limit-max",
          id: 0,
        },
        {
          name: "Limit",
          component: BlockLimitMin,
          blockClass: "block-limit-min",
          id: 0,
        },
      ],
    };
  },
  methods: {
    handleClone(item) {
      let cloneMe = {...item};

      this.uuid(item);
      this.$delete(cloneMe, 'uid');

      return cloneMe;
    },
    uuid(e) {
       if (e.uid) return e.uid;
  
        const key = BlockUtils.createUid();
  
        this.$set(e, "uid", key);
        
        return e.uid;
    }
  },
};
</script>