<template>
  <section>
    <div class="card">
      <div class="card-header">
        <div class="card-title">Event Calculation Template</div>
        <div class="card-tools">
          <button @click="removeTemplate()" type="button" class="btn btn-tool btn-danger" data-card-widget="card">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- Template Name: -->
        <div class="form-group">
          <label>Template Name:</label>
          <input class="form-control" type="text" v-model="template_name"/>
        </div>
        <br>
        <!-- annother approach -->
        <div class="pointFields" v-for="(field, index) in fields" :key="field.uid">
          <component :is="field.component" :inBlocks="field.blocks" :index="index" :inFieldName="field.name"></component>
        </div>

        <div class="btn btn-success w-100" @click="addField">
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="card-footer text-right">
        <div class="btn btn-primary" @click="save">
          <i class="fas fa-save"></i>
          <span>Save Template</span>
        </div>
      </div>
       <div v-if="loading" class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>
  </section>
</template>
<script>
import draggable from "vuedraggable";
import { EventService } from '../../../services/events/EventService';
import { TemplateService } from '../TemplateService';
import { BlockUtils } from "./blocks/BlockUtils";
import { PointTemplateData } from "./PointTemplateEditor";
import PointField from './PointField.vue'

const POINTS_PREVIEW_ID = "pointFields";

export default {
  components: { draggable, PointField },
  props: {
    eventId: Number,
    templateId: Number
  },
  data() {
    return {
      score: 0,
      loading: false,
      template_name: "",
      template: {},
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadTemplate(this.templateId);
    },
    removeTemplate() {
      this.loading = true;

      TemplateService.deleteTemplate(this.templateId)
      .then((res) => {
        this.removeAllFields();
        this.template_name = "";

        this.$emit('template-saved', this.templateId);
      }).finally(() => this.loading = false);
    },
    addField(fieldData = null) {
      BlockUtils.addField(fieldData);
    },
    serializeFields() {
      let fields = BlockUtils.serializeFields(this.fields);
      return fields;
    },
    save() {
      if(this.templateId > 0) {
        this.update();
      } else {
        this.store();
      }
    },
    delete() {
      TemplateService.deleteTamplate(this.templateId);
    },
    update() {
      this.loading = true;
  
      let eventID = this.getEventId();

      if(!eventID || eventID <= 0) {
        toastr.info("Please select an event first!");
        this.loading = false;
        return;
      }

      let data = BlockUtils.serializeTemplate(this.template_name, this.templateId, this.fields);

      EventService.updateEventTemplate(eventID, this.templateId, data)
      .then((res) => {
        let data = res.data.data;
        
        this.templateId = data.id;

        this.loadTemplate(this.templateId);
        
        this.$emit('template-saved', this.templateId);
      }).finally(() => this.loading = false); 
    },
    store() {
      this.loading = true;

      let data = BlockUtils.serializeTemplate(this.template_name, this.templateId, this.fields);

      let eventID = this.getEventId();

      if(!eventID || eventID <= 0) {
        toastr.info("Please select an event first!");
        this.loading = false;
        return;
      }

      EventService.storeEventTemplate(eventID, data)
      .then((res) => {
        let data = res.data.data;
        //get template id and set it.
        this.templateId = data.id;
        this.$emit('template-saved', this.templateId);
      }).finally(() => this.loading = false); 
    },
    getEventId() {
      return this.eventId > 0 ? this.eventId : this.$route.params.id;
    },
    loadTemplate(id) {
      if(id <= 0) {
        return;
      }

      this.loading = true;

      TemplateService.loadTemplate(id)
      .then((res) => {
        let data = res.data.data;
        this.template = data;

        this.initTemplate();
      }).finally(() => this.loading = false);
    },
    initTemplate() {
      if(this.template.id > 0) {
        this.template_name = this.template.name;
        this.removeAllFields();
        BlockUtils.parseFields(this.template);
      }
     
    },
    removeAllFields() {
      PointTemplateData.fields = [];
    }
  },
  computed: {
    isShowInOut() {
      return PointTemplateData.showInOut;
    },
    fields: {
      get() {
        return PointTemplateData.fields;
      }
    },
  },
  watch: {
    templateId(val) {
      if(val > 0) {
        this.loadTemplate(val);
      } else {
        this.template_name = "";
        this.removeAllFields();
      }
    }
  }
};
</script>