<template>
  <section class="point-field">
    <div class="form-group">
      <label style="width: 80%"
        ><span  @click="toggleEdit">Field: </span>
        <span  @click="toggleEdit" v-if="!isEdit">{{ fieldName }}</span>
        <span v-if="isEdit">
          <input type="text" v-model="fieldName" />
          <div class="btn btn-success btn-sm" @click="hideEdit">
            <i class="fas fa-check"></i>
          </div>
        </span>
      </label>
      <div @click="removeSelf" class="btn btn-danger btn-sm float-right">
        <i class="fas fa-times"></i>
      </div>
      <div class="btn btn-default btn-sm float-right mr-1" @click="toggleShowInOutFields">
        <i class="fas fa-eye"></i>
      </div>
    </div>
    <div v-if="showInOut"><span>Input: </span><input type="number" v-model="inData" /></div>
    <nested-draggable
      class="copy list-group"
      :list="blocks"
      group="blocks"
      @change="onFieldChanged"
    >
      <transition-group>
        <div
          v-for="(block, index) in blocks"
          :key="setUid(block)"
          class="item"
          :ref="block.uid"
        >
          <keep-alive>
            <component
              :index="index"
              :blocks="blocks"
              :fieldValue="getFieldValue()"
              :is="block.component"
              :inData="block.data"
               class="block"
              :class="block.blockClass"
              @block-updated="updateBlock"
            ></component>
          </keep-alive>
          <span>
            <i class="fa fa-times close" @click="removeAt(index)"></i>
          </span>
        </div>
      </transition-group>
    </nested-draggable>
    <div v-if="showInOut"><span>Output: </span>{{outData}}</div>
  </section>
</template>
<script>
import draggable from "vuedraggable";
import nestedDraggable from "vuedraggable";
import { Utils } from "../../../utils/utils";
import { BlockUtils } from "./blocks/BlockUtils";
import { PointTemplateData, PointsTemplateHelper } from './PointTemplateEditor';

export default {
  components: { draggable, nestedDraggable },
  props: {
    inBlocks: Array,
    index: Number,
    inFieldName: String,
  },
  data() {
    return {
      inData: 0,
      blocks: [],
      fieldName: "Click me to change field name",
      isEdit: false,
      outData: 0,
    };
  },
  methods: {
    getFieldValue() {
      if(this.inData) {
        return parseInt(this.inData);
      }
    },
    updateSum() {
      let sum = 0;
      
      sum = BlockUtils.processBlocks(this.blocks);

      this.outData = sum;
    },
    removeAt(index) {
      this.blocks.splice(index, 1);
    },
    removeSelf() {
      let fields = PointTemplateData.fields;
      fields.splice(this.index, 1);
    },
    onFieldChanged(item) {
      this.updateSum();
    },
    toggleEdit() {
      this.isEdit = !this.isEdit;
      this.updateSum();
    },
    setUid(e) {
      if (e && e.uid)  {
        return e.uid;
      }

      const key = BlockUtils.createUid();
      this.$set(e, "uid", key);

      return e.uid;
    },
    hideEdit() {
      this.isEdit = false;
    },
    toggleShowInOutFields() {
      PointsTemplateHelper.toggleShowInOut();
    },
    initBlocks(blockData) {
      let initializedBlocks = BlockUtils.initBlocks(blockData, this.blocks);
      this.blocks = initializedBlocks.length > 0 ? initializedBlocks : [];
    },
    updateBlock(data, index) {
      this.blocks[index].data = data;
      BlockUtils.updateBlocks(this.blocks, this.index);
    } 
  },
  mounted() {
    this.fieldName = this.inFieldName;
    this.initBlocks(this.inBlocks);
  },
  computed: {
    isShowInOut() {
      return PointsTemplateData.isShowInOut;
    }
  },
  computed: {
    showInOut() {
      return PointTemplateData.showInOut;
    },
  },
  watch: {
    inData(val, newVal) {
      if(val != newVal) {
        let func = () => {
          this.updateSum();
        }
        Utils.debounce(func(), 500);
      }
    },
    showInOut() {
      this.updateSum();
    },
    fieldName(val) {
      let func = () => {
        PointTemplateData.fields[this.index].name = val;
      }
      Utils.debounce(func(), 150);
    },
    inBlocks(blockData) {
      this.initBlocks(blockData);
    },
  },
};
</script>