<template>
    <section class="team-invite">
        <p>Invite team component ...</p>
    </section>
</template>
<script>
export default {
    name: 'InviteTeamComponent',
    setup() {

    },
}
</script>
