<template>
  <section class="my-team">
    <team-manager></team-manager>
    <teams-user-component></teams-user-component>
  </section>
</template>
<script>
import TeamManager from './TeamManager.vue';
import TeamsUserComponent from './TeamsUserComponent.vue';
export default {
  components: {TeamManager, TeamsUserComponent}
}
</script>
