<template>
  <section>
    <div class="team-card">
      <div v-for="team in teams" :key="team.id">
        <div class="card card-primary p-0">
          <div class="card-header">
            <div class="card-title">
              <h3>
                <span v-if="hasEvents(team)">
                  <i class="fas fa-lock"></i>
                </span>
                <span v-else> <i class="fas fa-unlock"></i></span>
                <span>{{ team.name }}</span>
              </h3>
            </div>
            <div class="card-tools">
              <button
                v-if="canModify"
                @click="modify(team)"
                type="button"
                class="btn btn-tool"
                data-card-widget="card"
              >
                <i class="fas fa-cog"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <ul class="user-list">
              <li v-for="member in team.members" :key="member.user.id">
                <div class="mb-1">
                  <a class="simple-link" @click="open(member.user.id)">{{ member.user.name }}</a>
                  <span v-if="team.team_leader == member.user.id">
                    <i class="fas fa-crown"></i>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <div class="card-footer" v-if="hasEvents(team)">
            <div class="tags bg-blue clickable" v-for="event in team.events" :key="event.id" @click="openEvent(event.id)">{{event.title}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import { Utils } from "../../utils/utils";
export default {
  props: {
    teams: Array,
    canModify: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    modify(team) {
      this.$emit("team-modify", team.id);
    },
    open(userId) {
      this.$emit('user-clicked', userId);
    },
    openEvent(eventId) {
      Utils.openEvent(eventId, this);
    },
    hasEvents(team) {
      return (team.events && team.events.length) > 0 ? true : false;
    },
  },
};
</script>