<template>
    <section class="teams-user">
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">Teams you are assigned to | {{total}}</div>
                <div class="card-tools">
                    <button
                        type="button"
                        @click="load()"
                        class="btn btn-tool"
                        data-card-widget="card"
                    >
                        <i class="fas fa-sync"></i>
                    </button>
                     <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <team-cards :teams="teams" :canModify="false"></team-cards>
                    </div>
                </div>
            </div>
            <div v-if="loading" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
        </div>
    </section>
</template>
<script>
import { EventTeamService } from '../../services/events/EventTeamService'
import TeamCards from './TeamCards.vue'
import {TeamService} from './../../services/teams/TeamService';

export default {
    components: { TeamCards},
    data() {
        return {
            teams: [],
            loading: false,
        }
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.getTeams();
        },
        getTeams() {
            this.loading = true;

            TeamService.getTeamsUser()
            .then((res) => {
                this.teams = res.data.data;
            }).finally(() => this.loading = false);
        }
    },
    computed: {
        total() {
            return  this.teams ? this.teams.length : 0;
        }
    }
}
</script>