<template>
  <section class="team-manager">
    <div class="card card-primary p-0">
      <div class="card-header">
        <div class="card-title">Teams you manage | {{total}}</div>
        <div class="card-tools">
          <button
            type="button"
            @click="modify('add')"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-plus"></i>
          </button>
          <button
            type="button"
            @click="load()"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-sync"></i>
          </button>
           <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <team-cards @team-modify="onModify" :teams="teams" :canModify="true"></team-cards>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>

      <base-modal 
      @modal-closed="close"
      @modal-data="handleModalData"
      :component="teamModify" 
      :params="params" 
      :isOpen="isModifyTeams"></base-modal>
  </section>
</template>
<script>
import BaseModal from '../UI/Modal/BaseModal.vue';
import TeamCards from './TeamCards.vue';
import UserSearchComponent from './../user/UserSearchComponent.vue';
import TeamModifyComponent from './TeamModifyComponent.vue';
import api from './../../api';
import axios from 'axios';
import {TeamStore, TeamStoreMutations} from './TeamStore';
import { TeamService } from '../../services/teams/TeamService';

export default {
    components: {
        TeamCards,
        BaseModal,
        TeamModifyComponent,
        UserSearchComponent
    },
    data() {
        return {
            teams: [],
            loading: false,
            userSearch: UserSearchComponent,
            teamModify: TeamModifyComponent
        }
    },
    mounted() {
      this.load();
    },
    methods: {
        async load() {
          this.loading = true;

         TeamService.getTeams()
          .then((res) => {
            let data = res.data.data;
            this.teams = data;
          }).finally(() => this.loading = false);
        },
        modify(action, id) {
          TeamStoreMutations.modify(action, id);
        },
        close() {
          TeamStoreMutations.closeDialog();
        },
        onUserAdd(id) {
          console.log("Add user: ", id);
        },
        onModify(id) {
          TeamStoreMutations.modify("edit", id);
        },
        handleModalData() {

        }
    },
    computed: {
      params() {
        return TeamStore.params;
      },
      isModifyTeams() {
        return TeamStore.isModify;
      },
      total() {
        return this.teams.length;
      }
    },
    watch: {
      isModifyTeams(val) {
        if(!val) {
          this.load();
        }
      }
    }
}
</script>