<template>
  <section class="team-modify-component">
    <div class="card card-primary p-0 m-0">
      <div class="card-header">
        <div class="card-title">
          <!-- Title goes here-->
          <i class="fas fa-users"></i>
          <span>{{this.getTitle}}</span>
        </div>
        <div class="card-tools">
          <button
            :disabled="!isEdit"
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
            @click="deleteTeam"
          >
            <i class="fas fa-trash"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
            @click="close"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="name">Team Name</label>
          <input name="name" class="form-control" type="text" v-model="name" />
        </div>

        <div class="member-list">
            <div class="form-group">
                <label>Team Members: {{membersTotal}}</label>
            </div>
            <ul style="list-style: decimal">
                <li v-for="member in members" :key="member.user.id">
                    <div class="row">
                        <div class="col-md-10">
                            <a href="#">{{member.user.name}} | {{member.user.email}} </a>
                        </div>
                        <div class="col-md-2">
                            <div class="btn btn-sm btn-danger" @click="remMember(member.user)">
                                <i class="fas fa-user-times"></i>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr>
        <!-- User search -->
        <user-search-component
          @modal-data="addMember"
          @modal-search="onSearchUser"
          :users="users"
        />
      </div>
      <div class="card-footer">
        <div class="btn btn-primary float-right" @click="saveTeam()">
          <span>Save</span>
          <i class="fas fa-save"></i>
        </div>
      </div>
    </div>
    <div v-if="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import UserSearchComponent from "../user/UserSearchComponent.vue";
import api from "./../../api";
import {Utils} from './../../utils/utils';
import { TeamStore } from './TeamStore';

export default {
  components: { UserSearchComponent },
  name: "TeamModifyComponent",
  data() {
    return {
      name: "",
      users: [],
      members: [],
      loading: false,
    };
  },
  methods: {
    close() {
      this.$emit("modal-close");
    },
    hasDuplicate(user) {
        let data = this.members.find(element => element.user.id == user.id);
        if(data) {
            return true;
        } else {
            return false;
        }
    },
    addMember(user) {
        if(!this.hasDuplicate(user)) {
            this.members.push({user: user});
        }
    },
    remMember(user) {
      if(this.members.length > 1) {
        this.members = this.members.filter((member) => {
          return member.user.id !== user.id;
        });
      }
    },
    deleteTeam() {
      this.$confirm('Are you sure?').then(() => {
        this.delete();
      });
    },
    reset() {
      this.name = "";
      this.users = [];
      this.members = [];
    },
    async delete() {
      this.loading = true;

      await axios.delete(api.TEAM_DELETE + this.params.id)
      .then(() => {
        this.close();
      }).finally(() => this.loading = false);
    },
    async loadData() {
      if(this.params.action == "add")  {
        return;
      }
      this.loading = true;

      await axios.get(api.TEAM_SHOW + this.params.id)
      .then((res) => {
        let data = res.data.data;
        this.members = data.team_members;
        this.name = data.name;
      }).finally(() => this.loading = false);
    },
    async store() {
      this.loading = true;
        await axios
        .post(api.TEAM_STORE, {
          team_name: this.name,
          team_members: this.members,
        })
        .then((res) => {
        this.close();
        })
        .finally(() => this.loading = false);
    },
    async update() {
      this.loading = true;
      await axios
          .put(api.TEAM_UPDATE, {
            id: this.params.id,
            team_name: this.name,
            team_members: this.members,
          })
          .then((res) => {
            this.close();
          })
          .finally(() => this.loading = false);
    },
    async saveTeam() {
        if(this.params.action === "add") {
          this.store();
        } else {
          this.update();
        }
    },
    async onSearchUser(term) {
        await axios
            .post(api.USER_SEARCH, {
                search_term: term,
            })
            .then((res) => {
                this.users = res.data.data;
            })
            .finally(() => (this.loading = false));
    },
  },
  computed: {
      membersTotal() {
          return this.members.length;
      },
      getTitle() {
        return Utils.getTitle("Team", this.params.action);
      },
      isModify() {
        return TeamStore.isModify;
      },
      params() {
        return TeamStore.params;
      },
      isEdit() {
        return (this.params.id > 0);
      }
  },
  watch: {
    isModify(val) {
      if(val) {
        this.loadData();
      } else {
        this.reset();
      }
    }
  }
};
</script>