<template>
  <section class="live-ticker-external">
    <div id="player-rank" v-if="!isTeams">
      <h1 class="headline">Players</h1>
      <live-ticker-stats :stats="stats.users"></live-ticker-stats>
    </div>

    <div id="team-rank" v-if="isTeams">
      <h1 class="headline">Teams</h1>
      <live-ticker-stats :stats="stats.teams"></live-ticker-stats>
    </div>
  </section>
</template>
<script>
import { Util } from '../Util';
import {LeaderBoardService} from "./../../js/components/liveticker/LeaderBoardService";
import LiveTickerStats from './LiveTickerStats.vue';

export default {
  components: { LiveTickerStats },
  name: "LiveTickerExternal",
  data() {
    return {
        stats: {},
        eventId: 0,
        token: "",
        isTeams: false,
    }
  },
  mounted() {
    this.getAccessToken();
    this.load();
    this.getEventId();

    this.switchView();
    this.updateStatsChanges();
  },
  methods: {
    load() {
        this.loadEventStats();
    },
    loadEventStats() {
      LeaderBoardService.getEventStatsExternal(this.token).then((res) => {
        let data = res.data.data;
        this.stats = data;
        console.log(this.stats);
      });
    },
    updateStatsChanges() {
      window.Echo.channel("stats-changed").listen(
        "StatsChangedEvent",
        (data) => {
          if(data.event_id == parseInt(this.getEventId())) {
            this.stats = data.stats;
          }
        }
      );
    },
    getEventId() {
      return Util.getUrlParam("event");
    },
    getAccessToken() {
      this.token = Util.getUrlParam("token");
    },
    switchView() {
      setInterval(() => {
        this.isTeams = !this.isTeams;
      }, 2500*10);
    }
  },
};
</script>