<template>
  <section>
    <div class="ecard">
      <div class="row">
        <div class="col-4">
          <p class="position">Rank</p>
        </div>
        <div class="col-4">
          <p class="name">Name</p>
        </div>
        <div class="col-4">
          <p class="name">Score</p>
        </div>
      </div>
    </div>
    <div class="ecard" v-for="(stat, index) in stats" :key="stat.user_id">
      <div class="row entry">
        <div class="col-4">
          <p class="position">#{{ index + 1 }}</p>
        </div>
        <div class="col-4">
          <p class="name">{{ stat.name }}</p>
        </div>
        <div class="col-4">
          <p class="name">{{ stat.score }}</p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    stats: Array,
  },
};
</script>