<template>
    <section class="base-modal-modal">
      <div class="modal fade" id="base-modify-modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div>
                <!-- Modal Content goes here -->
                <div @close-dialog="close" :ref="this.containerName()"></div>
            </div>
            <div v-if="loading" class="overlay">
              <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>
<script>
import Vue from 'vue';
import UserSearchComponent from '../../user/UserSearchComponent.vue';

export default {
  components: { UserSearchComponent },
    props: {
        params: Object,
        component: Object,
        isOpen: Boolean,
    },
    data() {
      return {
        loading: false,
        componentName: "",
        instance: {},
      }
    },
    methods: {
        createComponent() {
            let ComponentClass = Vue.extend(this.component);
            let params = this.params;
            let containerName = this.containerName();

            if(this.componentName && this.componentName !== "undefined") {
              this.instance = new ComponentClass({
                  propsData: { 
                      params: params,
                      isOpen: this.isOpen,
                  },
              });
  
              this.instance.$mount(); // pass nothing
              this.$refs[containerName].appendChild(this.instance.$el);
            }

        },
        open() {
          $('#base-modify-modal').modal({
            backdrop: "static",
            keyboard: false,
          });

          this.$emit('modal-opened'); //notify parent
          this.instance.$emit('modal-opened');
        },
        close() {
          $("#base-modify-modal").modal('hide');

          this.$emit('modal-closed'); //notify parent
          this.instance.$emit('modal-closed');
        },
        containerName() {
          if(!this.component.name || this.component.name == "undefined") {
            throw {
              "message": "No component name declared in property component. Please provide a component name for BaseModal"
            };
            return "";
          } else {
            return "modal-"+this.component.name;
          }
        },
        onData(data) {
          this.$emit('modal-data', data);
        },
        onSearch(term) {
          alert(term);
          //this.$emit('modal-search', term);
        }
    },
    mounted() {
      this.componentName = this.containerName();
      this.createComponent();
  
      this.instance.$on('modal-close', this.close);
      this.instance.$on('modal-open', this.open);
      this.instance.$on('modal-data', (data) => this.onData(data));
      this.instance.$on('modal-search', (term) => this.onSearch(term));
    },
    watch: {
      
      isOpen(val) {
        if(val) {
          this.open();
        } else {
          this.close();
        }
      }
    }
}
</script>