<template>
    <section class="base-modal-modal">
      <div class="modal fade" id="base-modify-modal">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content p-0 m-0">
            <div class="modal-body p-0 m-0">
              <component ref="modal" :is="component" :params="params"></component>
            </div>
          </div>
        </div>
      </div>
  </section>
</template>
<script>
import Vue from 'vue';

export default {
  components: {  },
    props: {
        params: Object,
        component: Object,
        isOpen: Boolean,
    },
    methods: {
        open() {
          $('#base-modify-modal').modal({
            backdrop: "static",
            keyboard: false,
          });

          this.$emit('modal-open');
          this.$refs['modal'].$emit('modal-open'); 
        },
        close() {
          $("#base-modify-modal").modal('hide');
          this.$emit('modal-closed');
          this.$refs['modal'].$emit('modal-closed');
        },
        onData(data) {
          this.$emit('modal-data', data);
          this.$refs['modal'].$emit('modal-data');
        },
    },
    mounted() {
      //
    },
    watch: {
      isOpen(val) {
        if(val) {
          this.open();
        } else {
          this.close();
        }
      }
    }
}
</script>