<template>
  <section class="submission-admin-component card card-primary">
    <div class="card-header">
      <div class="card-title">Submissions</div>
      <div class="card-tools">
        <button
          :disabled="!selectedItem"
          v-on:click="openModify"
          type="button"
          class="btn btn-tool"
          data-card-widget="card"
        >
          <i class="fas fa-cog"></i>
        </button>
        <button
          v-on:click="load"
          type="button"
          class="btn btn-tool"
          data-card-widget="card"
        >
          <i class="fas fa-sync-alt"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="card-body">
      <!--Filter-->
      <label>Search</label>
      <input class="form-control" v-model="filters.name.value" />
      <br />
      <!--Table-->
      <v-table
        name=""
        :data="submissions"
        :filters="filters"
        :currentPage.sync="currentPage"
        :pageSize="10"
        @totalPagesChanged="totalPages = $event"
        selectionMode="single"
        selectedClass="table-info"
        @selectionChanged="selectedRows = $event"
        class="table table-bordered"
      >
        <thead slot="head">
          <v-th sortKey="match.id">ID</v-th>
          <v-th sortKey="match.total_score">Points</v-th>
          <v-th sortKey="match.created_at">Submission Time</v-th>
          <v-th sortKey="subscribers.name">Users</v-th>
        </thead>
        <tbody slot="body" slot-scope="{ displayData }">
          <v-tr v-for="fullMatch in displayData" :key="fullMatch.match.id" :row="fullMatch">
            <td>
              {{fullMatch.match.id}}
            </td>
            <td>
              {{fullMatch.match.total_score}}
            </td>
            <td>{{dateTime(fullMatch.match.created_at)}}</td>
            <td>
              <div v-if="fullMatch.isTeam" class="tags bg-green">
                {{fullMatch.team_name}}
              </div>
              <span v-for="user in fullMatch.subscribers" :key="user.id">
                <span>{{user.name}} | </span>
              </span> 
            </td>
          </v-tr>
        </tbody>
      </v-table>
      <br />
      <smart-pagination
        :currentPage.sync="currentPage"
        :totalPages="totalPages"
        :maxPageLinks="maxLinks"
      />
    </div>
    <div v-if="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>

    <modal-component :component="submissionInfoComp" :isOpen="isModify" :params="null"></modal-component>
  </section>
</template>
<script>
import { Utils } from '../../utils/utils';
import BaseModal from '../UI/Modal/BaseModal.vue';
import ModalComponent from '../UI/Modal/ModalComponent.vue';
import SubmissionInfoComponentVue from './SubmissionInfoComponent.vue';
import { SubmissionInfo, SubmissionService } from './SubmissionService';
export default {
  components: { BaseModal, ModalComponent },
  props: {
    eventId: Number,
  },
  data() {
    return {
      selectedRows: [],
      table: {},
      submissions: [],
      filters: {
        name: { value: "", keys: ["match.id", "subscribers.name", "match.total_score"] }
      },
      currentPage: 1,
      totalPages: 0,
      maxLinks: 5,
      loading: false,
      selectedItem: {},
      submissionInfoComp: SubmissionInfoComponentVue,
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadSubmissions();
    },
    loadSubmissions() {
      this.loading = true;

      SubmissionService.getUserMatchesByEvent(this.eventId)
      .then((res) => {
        let data = res.data.data || [];
        this.submissions = data;
      }).finally(() => this.loading = false);
    },
    findTable(self) {
      return self.$children.find((e) => e.$options._componentName = "v-table");
    },
    dateTime(date) {
      return Utils.convertTimestampToDateTime(date);
    },
    openModify() {
      this.isModify = true;
    },
    closeModify() {
      this.isModify = false;
    }
  },
  computed: {
    isModify: {
      get() {
        return SubmissionInfo.isModify;
      },
      set(val) {
        SubmissionInfo.isModify = val;
      }
    }
  },
  watch: {
    selectedRows(val) {
      this.selectedItem = this.selectedRows[0];
      SubmissionInfo.fullMatch = this.selectedItem;
    }
  }
};
</script>