<template>
  <section class="submission-info-component">
    <div class="card card-primary p-0 m-0" v-if="fullMatch">
      <div class="card-header">
        <div class="card-title">Submission Details</div>
        <div class="card-tools">
          <button
            @click="close"
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="" v-if="fullMatch.match">
            <div class="form-group">
                <label><i class="fas fa-clock"></i> Submitted at:</label>
                <p>{{datetime(fullMatch.match.created_at)}}</p>
            </div>  
          <section class="team-section" v-if="fullMatch.isTeam">
            <label><i class="fas fa-users"></i> Team </label>
            <team-cards
              :canModify="false"
              :teams="wrap(fullMatch.team)"
              @user-clicked="openChannel"
            ></team-cards>
          </section>
          <section v-else>
            <label><i class="fas fa-user"></i> User</label>
            <br>
            <div @click="openChannel(user.id)" v-for="user in fullMatch.subscribers" :key="user.id" class="tags bg-blue clickable">{{user.name}}</div>
          </section>
          <label><i class="fas fa-trophy"></i> Score:</label>
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ fullMatch.match.total_score }}</h3>
              <p>Points</p>
            </div>
            <div class="icon">
              <i class="fas fa-trophy"></i>
            </div>
          </div>
          <div class="form-group">
              <label><i class="fas fa-comment-alt"></i> Notes:</label>
              <textarea readonly class="form-control">{{fullMatch.match.notes}}</textarea>
          </div>
          <div class="form-group">
              <label><i class="fas fa-file-image"></i> Submission Image:</label>
              <img class="thumbnail w-100" :src="fullMatch.match.image" />
              <p class="italic">
                 No image provided 
              </p>
          </div>
          <div class="form-group">
              <label><i class="fas fa-table"></i> Match Details:</label>
              <div v-for="detail in fullMatch.details" :key="detail.id">
                <div class="form-group">
                    <label>{{detail.field.name}}</label>
                    {{detail.field.field_value}}
                    <input class="form-control" type="number" :value="detail.field_value" readonly>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="card-footer p-0 text-right">
        <button class="btn btn-danger" @click="disqualify(fullMatch.match.id)">
          <span>Ban</span>
        </button>
        <button class="btn btn-success" @click="unDisqualify(fullMatch.match.id)">
          <span>Unban</span>
        </button>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>
  </section>
</template>
<script>
import { EventService } from '../../services/events/EventService';
import { Utils } from "../../utils/utils";
import TeamCards from "../team/TeamCards.vue";
import { SubmissionInfo } from "./SubmissionService";
export default {
  components: { TeamCards },
  name: "SubmissionInfoComponent",
  data() {
    return {
      loading: false,
    };
  },
  mounted() {
    this.$on("modal-open", this.load);
  },
  methods: {
    close() {
      this.$emit("modal-close");
      SubmissionInfo.isModify = false;
    },
    load() {
      console.log("Sub info opened: ", this.fullMatch);
    },
    wrap(data) {
      return Utils.wrapArray(data);
    },
    datetime(date) {
      return Utils.convertTimestampToDateTime(date);
    },
    openChannel(id) {
      this.close();

      setTimeout(function() {
        Utils.openChannel(id);
      }, 500);
    },
    disqualify(matchId) {
      EventService.disqualify(matchId)
      .then((res) => {
        let data = res.data.data;

        console.log("user disqualified");
      });
    },
    unDisqualify(matchId) {
      EventService.unDisqualify(matchId)
      .then((res) => {
        console.log("user un disq...");
      });
    }
  },
  computed: {
    fullMatch() {
      return SubmissionInfo.fullMatch;
    },
  },
};
</script>