<template>
  <section class="submissions-add-component">
    <div class="card card-primary p-0">
      <div class="card-header">
        <div class="card-title">Match Details</div>
        <div class="card-tools">
          <button
              v-on:click="load()"
              type="button"
              class="btn btn-tool"
              data-card-widget="card"
            >
              <i class="fas fa-sync-alt"></i>
            </button>
        </div>
      </div>
      <div class="card-body">
        <section v-if="events.length > 0">
          <div class="form-group">
            <label>Event</label>
            <select class="form-control" v-model="selectedEvent">
              <option value="0">--</option>
              <option v-for="event in events" :key="event.id" :value="event.id">
                {{ event.title }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <div v-if="fields.length > 0">
              <form @submit.prevent="save" id="matchSubmissionForm">
                <div class="form-group" v-for="field in fields" :key="field.id">
                  <label>{{ field.name }}</label>
                  <input
                    class="form-control"
                    type="number"
                    :name="field.id"
                    value="0"
                  />
                </div>
              </form>
            </div>
            <div v-if="fields.length <= 0 && selectedEvent > 0">
              <div class="alert alert-info">This event has no point calculation template yet. You might whait until the owner creates one.</div>
            </div>
          </div>
          <div class="form-group" v-if="fields.length > 0">
            <label>Notes</label>
            <textarea v-model="notes" class="form-control" placeholder="Leave a note for this match"></textarea>
          </div>
          <div class="form-group" v-if="fields.length > 0">
            <label>Match Image</label>
            <file-uploader-component
              :name="submissionImageCompName"
              :autoProcessQueue="false"
            ></file-uploader-component>
          </div>
        </section>
        <div v-else class="alert alert-info">
          You are currently not subscribed to any event. Consider subscribing to one.
        </div>
      </div>
      <div class="card-footer" v-if="events.length > 0">
        <div class="text-right">
          <button class="btn btn-info" :disabled="selectedEvent == 0" @click="save">
            <i class="fas fa-save"></i>
            <span>Save</span>
          </button>
        </div>
      </div>
      <div v-if="loading" class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    </div>
  </section>
</template>
<script>
import { EventService } from "../../services/events/EventService";
import { TemplateService } from "../templates/TemplateService";
import FileUploaderComponent from "../UI/FileUploader/FileUploaderComponent.vue";
import {SubmissionService} from './SubmissionService';

export default {
  components: { FileUploaderComponent },
  data() {
    return {
      loading: false,
      submissionImageCompName: "submissionFiles",
      events: [],
      selectedEvent: 0,
      template: {},
      fields: [],
      notes: "",
      image: null
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadUserEvents();
    },
    loadUserEvents() {
      this.loading = true;

      EventService.getUserEventsFiltered().then((res) => {
        let data = res.data.data;
        this.events = data;
      }).finally(() => { this.loading = false});
    },
    save() {
      this.loading = true;

      let fields = $('#matchSubmissionForm').serializeArray();
      
      let match = {
        image: this.image,
        note: this.notes,
      };

      let data = {
        fields: fields,
        match: match
      };

      SubmissionService.submitMatch(this.selectedEvent, data)
      .then((res) => {
        let data = res.data.data;

        this.$emit('match-submitted');
      }).finally(() => {this.loading = false});
    },
  },
  watch: {
    selectedEvent(val) {
      if (parseInt(val) > 0) {
        this.loading = true;
        TemplateService.getTemplateForEvent(val)
          .then((res) => {
            let data = res.data.data;
            this.template = data;
            this.fields = data.fields || [];
          })
          .finally(() => (this.loading = false));
      } else {
        this.fields = [];
      }
    },
  },
};
</script>