<template>
  <section class="recent-submissions-component">
    <div class="card p-0">
      <div class="card-header clickable" @click="openSubmissionHistory()">
        <div class="card-title">
          <span>Recent Submissions</span>
          <span v-if="match">
            <i class="fas fa-clock fa-sm"></i> {{ datetime(match.created_at) }}
          </span>
        </div>
        <div class="card-tools"></div>
      </div>
      <div class="card-body">
        <section class="match-details" v-if="match">
          <div class="info-box bg-gradient-info">
            <span class="info-box-icon"><i class="fas fa-trophy"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Points</span>
              <span class="info-box-number">{{match.total_score}}</span>
            </div>
          </div>
          <div class="form-group">
            <label>Notes: </label>
            <div class="from-controll">
              {{ match.notes }}
            </div>
            <div v-if="!match.notes"><span class="italic">No notes provided</span></div>
          </div>
          <div class="form-group">
            <label>Image: </label>
            <br />
            <div class="submission-gallery">
              <img class="thumbnail" />
            </div>
            <div v-if="!match.image"><span class="italic">No match image provided</span></div>
          </div>
        </section>
        <div v-else class="alert alert-info">
          No recent events submitted
        </div>
      </div>
      <div class="card-footer" v-if="event">
        <div class="tags bg-blue">
          <div class="simple-link tag bg-blue" @click="openEvent()">
            <span>{{ event.title }}</span>
          </div>
        </div>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>
  </section>
</template>
<script>
import { Utils } from "../../utils/utils";
import { SubmissionService } from "./SubmissionService";
export default {
  data() {
    return {
      match: {},
      event: {},
      details: {},
      loading: false,
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadRecentSubmission();
    },
    loadRecentSubmission() {
      this.loading = true;

      SubmissionService.getRecentMatchUser()
        .then((res) => {
          let data = res.data.data;
          this.match = data.match;
          this.event = data.event;
          this.details = data.details;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    openSubmissionHistory() {
      if(this.event) {
        Utils.openSubmissionHistory(this.event.id);
      }
    },
    time(data) {
      return Utils.convertTimestampToTime(data);
    },
    date(data) {
      return Utils.convertTimestampToDate(data);
    },
    datetime(data) {
      return Utils.convertTimestampToDateTime(data);
    },
    openEvent() {
      if(this.event) {
        Utils.openEvent(this.event.id);
      }
    },
  },
};
</script>