<template>
  <section class="submissions-history">
    <div class="row" v-if="matches.length > 0">
      <div class="col-md-12">
        <div class="timeline">
          <template v-for="fullMatch in matches">
            <div class="time-label" v-if="isDifferentDate(fullMatch.match.created_at)">
              <span class="bg-blue">{{date(fullMatch.match.created_at)}}</span>
            </div>
            <div>
              <i class="fas fa-gamepad bg-blue"></i>
              <submission-timeline-component :fullMatch="fullMatch" @reload="load"></submission-timeline-component>
            </div>
          </template>
          <div>
            <i class="fas fa-clock bg-gray"></i>
          </div>
        </div>
      </div>
    </div>
    <div v-else class="alert alert-info">
      No matches submitted yet
    </div>
  </section>
</template>
<script>
import { Utils } from '../../utils/utils';
import { SubmissionService } from './SubmissionService';
import SubmissionTimelineComponent from "./SubmissionTimelineComponent.vue";

export default {
  name: "SubmissionHistoryComponent",
  components: { SubmissionTimelineComponent },
  data() {
    return {
      matches: [],
      loading: false,
      eventId: 0,
      lastDateTime: null
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadSubmissions();
    },
    loadSubmissions() {
      SubmissionService.getUserMatches()
      .then((res) => {
        let data = res.data.data;
        this.matches = data;
      });
    },
    date(date) {
      return Utils.convertTimestampToDate(date);
    },
    isDifferentDate(date) {
      if(this.lastDateTime == null) {
        this.lastDateTime = date;
        return true;
      }

      if(Utils.convertTimestampToDate(this.lastDateTime) != Utils.convertTimestampToDate(date)) {
        this.lastDateTime = date;
        return true;
      } else {
        return false;
      }
    }
  },
  watch: {
    "$route.params.id": function (id) {
      this.eventId = id;
      this.load();
    },
  }
};
</script>