<template>
  <div class="timeline-item">
    <span class="time"><i class="fas fa-clock"></i> {{time(fullMatch.match.created_at)}}</span>
    <h3 class="timeline-header">
     <span href="#">#0{{fullMatch.match.id}}</span>
    </h3>
    <div class="timeline-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="small-box bg-info">
            <div class="icon">
              <i class="fas fa-trophy"></i>
            </div>
            <div class="inner">
              <h3>{{fullMatch.match.total_score}}</h3>
              <p>Points</p>
            </div>
            <div v-if="loading" class="overlay">
              <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <p>Notes</p>
          <p>{{fullMatch.match.notes}}</p>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img :src="fullMatch.match.image" alt="match pic" />
          </div>
        </div>
      </div>
    </div>
    <div class="timeline-footer">
      <span class="tags bg-blue simple-link" @click="openEvent(fullMatch.event.id)">{{fullMatch.event.title}}</span>
      <button class="btn btn-danger btn-sm float-right" @click="remove(fullMatch.match.id)" :disabled="loading">Delete</button>
    </div>
  </div>
</template>
<script>
import { Utils } from '../../utils/utils';
import { SubmissionService } from './SubmissionService';
export default {
  props: {
    fullMatch: Object
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    date(date) {
      return Utils.convertTimestampToDate(date);
    },
    time(date) {
      return Utils.convertTimestampToTime(date);
    },
    openEvent(id) {
      Utils.openEvent(id);
    },
    remove(matchId) {
      this.loading = true;

      SubmissionService.removeMatchUser(matchId)
      .then((res) => {
        this.$emit('reload');
      }).finally(() => this.loading = false);
    }
  }
};
</script>