<template>
    <section class="submissions-overview">
        <div class="row">
            <div class="col-md-6">
                <submissions-add-component @match-submitted="refreshRecentSubs"></submissions-add-component>
            </div>
            <div class="col-md-6">
                <submissions-recent-component ref="recentSubs"></submissions-recent-component>
            </div>
        </div>
    </section>
</template>
<script>
import SubmissionsAddComponent from './SubmissionsAddComponent.vue'
import SubmissionsRecentComponent from './SubmissionsRecentComponent.vue'
export default {
  components: { SubmissionsRecentComponent, SubmissionsAddComponent },
  name: "SubmissionsComponent",
  methods: {
    refreshRecentSubs() {
        this.$refs['recentSubs'].load();
    }
  }  
}
</script>