<template>
    <section class="file-uploader">
      <div class="float-right">
        <div class="btn btn-danger" @click="clearImage" v-if="autoProcessQueue">
          <span>delete image</span>
          <i class="fas fa-times"></i>
        </div>
      </div>
      <vue-dropzone @vdropzone-success="onUploaded" :ref="name" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
    </section>
</template>
<script>
import vue2Dropzone from 'vue2-dropzone'
import 'vue2-dropzone/dist/vue2Dropzone.min.css'
import { APP_API_URL, APP_HOST_URL } from '../../../axios';
import api from './../../../api';
import axios from 'axios';
import { UserService } from '../../../services/user/UserService';

export default {
    name: "FileUploaderComponent",
    components: {
      vueDropzone: vue2Dropzone
    },
    props: {
      upload: String,
      remove: String,
      name: String,
      autoProcessQueue: {
        type: Boolean,
        default: true
      },
    },
    data() {
      return {
        dropzoneOptions: {
          url: APP_HOST_URL + APP_API_URL + this.upload,
          thumbnailWidth: 250,
          thumbnailHeigt: 250,
          maxFilesize: 2, //MB
          headers: { "Authorization": "Bearer "+ UserService.getAccessToken()},
          acceptedFiles: "image/*",
          addRemoveLinks: true,
          maxFiles: 1,
          ignoreHiddenFiles: true,
          autoProcessQueue: this.autoProcessQueue
       }
      }
    },
    methods: {
      onUploaded(file, response) {
          this.emitOnUploadSuccess();
      },
      async clearImage() {
          await axios.delete(this.remove)
          .then((res) => {
            this.emitOnUploadSuccess();
          });
      },
      emitOnUploadSuccess() {
        this.$emit('on-uploaded');
      }
    }
}
</script>