<template>
    <section>
        <div class="card card-primary p-0">
            <div class="card-header">
                <div class="card-title"><!-- Title goes here--> My Title</div>
                <div class="card-tools">
                    <button
                        type="button"
                        class="btn btn-tool"
                        data-card-widget="card"
                    >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
            </div>
            <div class="card-body">
                <!-- your content goes here -->
            </div>
            <div class="card-footer">
                <!-- your footer goes here -->
            </div>
            <div v-if="loading" class="overlay">
                <i class="fas fa-2x fa-sync-alt fa-spin"></i>
            </div>
        </div>
    </section>
</template>
<script>
export default {
    data() {
        return {
            loading: false,
        }
    }
}
</script>