<template>
  <section class="user-showcase">
    <user-show-case-component :user="user"></user-show-case-component>
    
    <!-- LiveTicker -->
    <div class="card" v-if="totalEvents > 0">
      <div class="card-header">
        <div class="card-title">Live Ticker</div>
        <div class="card-tools">
          <button type="button" data-card-widget="collapse" class="btn btn-tool"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="card-body p-0">
            <live-ticker-component></live-ticker-component>
      </div>
    </div>
    <!-- Streamer events section -->
    <div class="card" v-if="totalEvents > 0">
        <div class="card-header">
          <div class="card-title">Hosted Events</div>
          <div class="card-tools">
            <button type="button" data-card-widget="collapse" class="btn btn-tool"><i class="fas fa-minus"></i></button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6" v-for="event in events" :key="event.id">
              <event-cards :events="wrapArray(event)" :isModify="false"></event-cards>
            </div>
          </div>
        </div>
    </div>
    <div v-else>
      <div class="alert alert-info">
        This user is currently not hosting any events
      </div>
    </div>
    <!-- Streamer events section END -->
  </section>
</template>
<script>
import axios from "axios";
import api from "./../../api";
import { APP_HOST_URL } from "../../axios";
import { UserHelper } from "./../../services/user/UserHelper";
import EventCards from '../event/EventCards.vue';
import UserShowCaseComponent from '../user/UserShowCaseComponent.vue';
import { UserStore } from '../../services/user/UserService';
import LiveTickerComponent from '../liveticker/LiveTickerComponent.vue';

export default {
  components: { EventCards, UserShowCaseComponent, LiveTickerComponent },
  name: "ChannelComponent",
  data() {
    return {
      params: {
        id: 0,
      },
      user: {},
      events: [],
      loading: false,
    };
  },
  mounted() {
    let userId = this.$route.params.id;
    if(userId) {
      this.params.id = userId;
    } else {
      this.params.id = UserHelper.getUserId();
    }
    this.load();
  },
  methods: {
    load() {
      if (this.params.id > 0) {
        this.getUser();
        this.getEvents();
      }
    },
    async getEvents() {
        await axios.get(api.EVENTS_OWNER + this.params.id)
        .then((res) => {
            this.events = res.data.data;
        }).finally(() => {
            //
        });
    },
    async getUser() {
        this.loading = true;
        await axios
        .get(api.USER_SHOW + this.params.id)
        .then((res) => {
            this.user = res.data.data;
        })
        .finally(() => (this.loading = false));
    },
    wrapArray(event) {
      let arr = [];
      arr.push(event);
      return arr;
    }
  },
  computed: {
    userId() {
      return UserStore.userId;
    },
    totalEvents() {
      return this.events.length;
    }
  },
  watch: {
    userId(id) {
      if(!this.params.id) {
        this.params.id = id; //default logged in user channel data...
        this.load();
      }
    },
    '$route.params.id': function(id) {
        this.params.id = id;
        this.load();
    }
  }
};
</script>