<template>
  <section>
    <div class="content-header">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{ pageName }}</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <!--<ol
                            class="breadcrumb float-sm-right"
                            v-for="(breadcrumb, idx) in breadcrumbList"
                            :key="idx"
                            @click="routeTo(idx)"
                            :class="{ linked: !!breadcrumb.link }"
                        >
                            <li class="breadcrumb-item">
                                <router-link to="idx"> {{ breadcrumb.name }} </router-link> <span> / </span>
                            </li>
                        </ol>-->
        </div>
        <!-- /.col -->
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Breadcrumbs",
  data() {
    return {
      breadcrumbList: [],
      pageName: "Home",
    };
  },
  mounted() {
    this.updateList();
  },
  watch: {
    $route() {
      this.updateList();
    },
  },

  methods: {
    routeTo(pRouteTo) {
      if (this.breadcrumbList[pRouteTo].link)
        this.$router.push(this.breadcrumbList[pRouteTo].link);
    },
    updateList() {
      this.breadcrumbList = this.$route.meta.breadcrumb;
      this.pageName = this.$router.currentRoute.meta.pageName;
    },
  },
};
</script>
