<template>
  <div class="mx-auto">
    <h2>Starting App ...</h2>
  </div>
</template>
<script>
import { APP_HOST_URL } from '../../axios';
import { UserService } from '../../services/user/UserService';

export default {
  name: "Login",
  props: {
    token: ""
  },
  mounted() {
    this.storeAccesToken();
    this.goHome();
  },
  methods: {
    storeAccesToken() {
      UserService.removeAccesTokenLocalStorage();
      UserService.setAccessTokenLocalStorage(this.token);
    },
    goHome() {
      window.location.replace(APP_HOST_URL);
    }
  }
};
</script>