<template>
  <div class="mx-auto">
    <h2>Logging out from App Server...</h2>
  </div>
</template>
<script>
import axios from "axios";
import { APP_HOST_URL } from '../../axios';
import api from './../../api';
import { UserAuthService } from '../../services/user/UserAuthService';
import { UserService } from '../../services/user/UserService';

export default {
  methods: {
    logout() {
      UserAuthService.doLogout();
    },
    removeAccessToken() {
      UserService.removeAccesTokenLocalStorage();
    },
    goLogin() {
      window.location.reload(APP_HOST_URL);
    }
  },
  mounted() {
    this.removeAccessToken();
    this.logout();
    this.goLogin();
  }
};
</script>