<template>
  <div class="operation-block">
    <div class="operator-block btn">
      <i class="fas fa-plus"></i>
    </div>
    <div class="operation-field">
      <input type="number" step="1" v-model="operand" />
    </div>
    <div class="operation-output"></div>
  </div>
</template>
<script>
import { update } from "lodash";
export default {
  name: "BlockOperationPlusComponent",
  props: {
    index: {
      default: -1,
      type: Number,
    },
    blocks: Array,
    fieldValue: Number,
    inData: Object,
  },
  data() {
    return {
      operand: 1,
      operator: "Plus",
      output: 0,
    };
  },
  mounted() {
    this.updateSum(this.block);
    this.initBlock();
    this.updateBlock();
  },
  methods: {
    process() {
      return this.fieldValue * this.operand;
    },
    updateSum(block) {
      if (!block) {
        return;
      }
      block.sum = this.process();

      this.$emit("sum-changed", block.sum, this.index);
    },
    updateBlock() {
      let data = {
        operand: parseInt(this.operand),
        operator: this.operator,
      };

      this.$emit("block-updated", data, this.index);
    },
    initBlock() {
      if (this.inData) {
        if (this.inData.operand) {
          this.operand = this.inData.operand;
        }
      }
    },
  },
  computed: {
    block() {
      return this.index >= 0 ? this.blocks[this.index] : null;
    },
  },
  watch: {
    operand() {
      this.updateSum(this.block);
      this.updateBlock();
    },
    fieldValue() {
      this.updateSum(this.block);
    },
    block(block) {
      this.updateSum(block);
    },
  },
};
</script>