<template>
  <div class="operation-block">
    <div class="operator-block btn">
      <i class="fas fa-filter"></i>
    </div>
    <div>
      <span>MAX</span>
    </div>
    <div class="operation-field">
      <input type="number" step="1" v-model="operand" />
    </div>
    <div class="operation-output"></div>
  </div>
</template>
<script>
export default {
  name: "BlockLimitMaxComponent",
  props: {
    index: {
      default: -1,
      type: Number,
    },
    blocks: Array,
    fieldValue: Number,
    inData: Object,
  },
  data() {
    return {
      operand: 1,
      operator: "MAX",
      output: 0,
    };
  },
  mounted() {
    this.initBlock();
    this.updateBlock(this.block);
  },
  methods: {
    updateBlock(block) {
      let data = {
        operand: parseInt(this.operand),
        operator: this.operator,
      };

      this.$emit("block-updated", data, this.index);
    },
    initBlock() {
      if (this.inData) {
        if (this.inData.operand) {
          this.operand = this.inData.operand;
        }
      }
    },
  },
  computed: {
    block() {
      return this.index >= 0 ? this.blocks[this.index] : null;
    },
  },
  watch: {
    operand() {
      this.updateBlock(this.block);
    },
  },
};
</script>