<template>
  <div class="operation-block">
      <div class="operation-input"></div>
    <div class="operation-field">
      <input type="number" step="1" />
    </div>
    <div class="operator-block btn">
      <i class="fas fa-greater-than-equal"></i>
    </div>
      <!-- Operation Draggable Zone -->
      <nested-draggable
        class="copy nest-group"
        :list="blocks"
        group="blocks"
      >
        <transition-group>
          <div
            v-for="(block, index) in blocks"
            :key="block.component.name"
            class="item"
          >
            <keep-alive>
              <component
                :is="block.component"
                class="block"
                :class="block.blockClass"
              ></component>
            </keep-alive>
            <span>
              <i class="fa fa-times close" @click="removeAt(index)"></i>
            </span>
          </div>
        </transition-group>
      </nested-draggable>
    <div class="operation-output"></div>
  </div>
</template>
<script>
import nestedDraggable from "vuedraggable";

export default {
  name: "BlockCompareGreaterThan",
  
  components: { nestedDraggable },
  data() {
      return {
          blocks: [],
          sum: 0,
      }
  },
  methods: {
      removeAt(index) {
          this.blocks.splice(index, 1);
      }
  }
};
</script>