<template>
  <section class="event-modify-component m-0 p-0">
    <div class="modal fade" id="event-modify-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="card card-primary card-tabs m-0">
            <div class="card-header p-0 pt-1">
              <v-tab :tabs="tabs" :title="getTitle"></v-tab>
              <div class="card-tools">
                <button @click="close()" type="button" class="btn btn-tool">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
                <v-tab-content :tabs="tabs"/>
            </div>
          </div>
          <div v-if="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import TabLinks, { TabsEventBus } from './../UI/Tabs/main';
import Vue from 'vue';
import {Tabs} from './../UI/Tabs/store';
import OrganizationComponent from './OrganizationComponent.vue';
import EventInfoComponent from './EventInfoComponent.vue';

Vue.use(TabLinks);

export default {
  components: {EventInfoComponent, TabLinks},
  name: "EventModifyComponent",
  data() {
    return {
      loading: false,
      event: {
        title: "",
        event_description: "",
        event_mode: "",
        name: "",
      },
      tabs: [
        {name: "Info", active: false, component: EventInfoComponent },
        {name: "Organization", active: false, component: OrganizationComponent},
        {name: "EntryList", active: false, content: "Test2"},
        {name: "Teams", active: false, content: "Test3"},
      ]
    };
  },
  mounted() {
    TabsEventBus.$on('tabs-changed', this.onTabsChanged);
    Tabs.init(this.tabs);//initialize tabs with values
  },
  destroyed() {
    Tabs.unset(); //reset tabs
  },
  methods: {
    onTabsChanged() {
      this.tabs = TabsEventBus.tabs; //update tabs to reflect current state
    },
    close() {
      $("#event-modify-modal").modal("hide");
      this.$emit("dialogClose"); //notify parent
      this.reset(); //clean data

      this.isPassword = false;
    },
    open() {
      $("#event-modify-modal").modal({
        backdrop: "static",
        keyboard: false,
      });

      this.loadData(state.params.id);
    },
    reset() {
        //@TODO: reset event data here
    },
    save() {
        if (state.params.action === ACTIONS.EDIT) {
            this.update();
        } else {
            this.store();
        }
    },
    async loadData(id) {
        //@TODO: get event data here
    },
    async update() {
        //@TODO: impl update here
    },
    async store() {
        //@TODO: impl store here
    }
  },
  watch: {
      isModify(val) {
        if(val) {
          this.open();
        } else {
          this.close();
        }
      }
  },
  computed: {
    getTitle() {
      let title = " ";
      try {
        title +=
          state.params.action.charAt(0).toUpperCase() +
          state.params.action.slice(1) +
          " Event";
      } catch (e) {}
      return title;
    },
    isModify() {
      return state.isModify;
    }
  }
};
</script>