<template>
    <section class="global-events-page homepage">
        <!-- Streamer preview -->
         <div class="card card-primary p-0">
            <div class="card-header">
                <div class="card-title">Event Streams</div>
                <div class="card-tools">
                    <button type="button" data-card-widget="collapse" class="btn btn-tool"><i class="fas fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                <streamer-event-preview-component></streamer-event-preview-component>
            </div>
        </div>
        <!-- Streamer preview END -->
        <event-list-component></event-list-component>
    </section>
</template>

<script>
import axios from 'axios';
import api from './../../api';
import StreamerEventPreviewComponent from '../homepage/StreamerEventPreviewComponent.vue';
import EventListComponent from './EventListComponent.vue';
import { EventService } from '../../services/events/EventService';

//manager component
export default {
  components: { StreamerEventPreviewComponent, EventListComponent },
    name: "EventManager",
    data() {
        return {
        }
    },
    mounted() {
    },
    methods: {
    },
}
</script>
