<template>
  <section class="event-list mt-3">
    <div class="card card-primary p-0">
      <div class="card-header">
        <div class="card-title">
          All Events
        </div>
        <div class="card-tools">
          <button type="button" data-card-widget="collapse" class="btn btn-tool"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6" v-for="event in pageOfItems" :key="event.id">
            <event-cards :events="wrap(event)" :isModify="false"></event-cards>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row">
          <jw-pagination class="mx-auto" 
            :items="events" 
            @changePage="onChangePage"
            :pageSize="4"></jw-pagination>
        </div>
      </div>
      <div v-if="isLoading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>
  </section>
</template>
<script>
import { EventService } from "../../services/events/EventService";
import { Utils } from "../../utils/utils";
import EventCards from "./EventCards.vue";
import JwPagination from 'jw-vue-pagination';
import Vue from 'vue';

Vue.component('jw-pagination', JwPagination);

export default {
  components: { EventCards },
  name: "EventListComponent",
  data() {
    return {
      events: [],
      searchTerm: "",
      isLoading: false,
      pageOfItems: [],
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    wrap(event) {
      return Utils.wrapArray(event);
    },
    load() {
      this.getEvents();
    },
    async getEvents() {
        this.isLoading = true;
      EventService.getAllEvents().then((res) => {
        let data = res.data.data;
        this.events = data;
      }).finally(() => this.isLoading = false);
    },
    onChangePage(pageOfItems) {
      this.pageOfItems = pageOfItems;
    }
  },
};
</script>