<template>
    <section class="event-add-component">
        <event-details-component @stored="goEdit"></event-details-component>
    </section>
</template>
<script>
import { Utils } from '../../utils/utils'
import EventDetailsComponent from './EventDetailsComponent.vue'
export default {
  components: { EventDetailsComponent },
    name: "EventAddComponent",
    methods: {
        goEdit(eventId) {
            Utils.editEvent(eventId, this);
        }
    }
}
</script>