<template>
  <section class="custom-search-result-list-header w-100" v-if="searchterm !== ''">
    <div class="container-fluid p-0">
        <div class="list-group w-100">
        <div @click="closeSearch()" class="list-group-item" v-for="event in results" :key="event.id">
            <div class="search-title">
              <router-link :to="{name: 'event-details', params: {id: event.id} }">{{event.title}} | <div class="tags bg-blue">{{event.event_mode.name}}</div></router-link>
            </div>
            <div class="search-path"></div>
        </div>
        <span v-if="isSearching" class="list-group-item text-center p-0">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </span>
        <a v-if="results.length == 0 && !isSearching" href="#" class="list-group-item"
            ><div class="search-title">No element found!</div>
            <div class="search-path"></div
        ></a>
        </div>
    </div>
  </section>
</template>
<script>
import { Utils } from '../../utils/utils';
export default {
  name: "EventSearchResponseListComponent",
  props: {
    results: Array,
    searchterm: String
  },
  methods: {
    openEventPage(eventId) {
      Utils.openEvent(eventId, this);
    },
    closeSearch() {
      $('#cancelSearch').click();
      this.$emit('on-search-close');
    }
  },
  computed: {
      isSearching() {
          return this.$attrs.issearching;
      }
  },
};
</script>