<template>
  <section class="event-edit">
    <span v-if="canModify">
      <div class="row">
          <div class="col-sm-4">
            <event-phase-component ref="eventStatus"></event-phase-component>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <event-details-component @update="updateEventStatus"></event-details-component>
        </div>
        <div class="col-md-6">
          <organization-component></organization-component>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <template-modify-component :eventId="parseInt(eventId)"></template-modify-component>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <submission-admin-component :eventId="parseInt(eventId)"></submission-admin-component>
        </div>
      </div>
    </span>
    <span v-else>
      <div class="alert alert-info">
        No modifiable event found
      </div>
    </span>
  </section>  
</template>
<script>
import { PermissionService } from '../../services/PermissionService'
import EventDetailsComponent from './EventDetailsComponent.vue'
import EventPhaseComponent from './EventPhaseComponent.vue'
import OrganizationComponent from './OrganizationComponent.vue'
import SubmissionAdminComponent from '../submissions/SubmissionAdminComponent.vue'
import TemplateModifyComponent from '../templates/TemplateModifyComponent.vue'
export default {
  components: { EventDetailsComponent, OrganizationComponent, EventPhaseComponent, SubmissionAdminComponent, TemplateModifyComponent },
  data() {
    return {
      canModify: false,
      eventId: {
        type: Number,
        default: 0,
      }
    }
  },
  mounted() {
    this.checkPermissions();
  },
  methods: {
    updateEventStatus() {
      this.$refs['eventStatus'].load();
      this.checkPermissions();
    },
    checkPermissions() {
      let eventId = this.$route.params.id ? this.$route.params.id : 0;
      if(eventId) {
        PermissionService.canModifyEvent(eventId).then(() => {
          this.canModify = true;
          this.eventId = eventId;
        }).catch(() => {
          this.canModify = false;
        });
      }
    }
  },
}
</script>