<template>
  <section class="event-subscription">
    <button class="btn btn-outline-primary" @click="open()" v-if="!isSubscribed">
      Subscribe
    </button>
    <button class="btn btn-outline-danger" @click="open()" v-else>
      Unsubscribe
    </button>
    <!-- Modify Sub Modal -->
    <base-modal :component="modifySub" :isOpen="isModify" :params="params" @modal-closed="close" @modal-data="subChanged"/>
  </section>
</template>    
<script>
import { EventService, SubData } from "../../services/events/EventService";

import _ from "lodash";
import api from "./../../api";
import BaseModal from '../UI/Modal/BaseModal.vue';
import EventSubscriptionModifyVue from './EventSubscriptionModify.vue';
import { UserService } from '../../services/user/UserService';

export default {
  components: { BaseModal },
  name: "EventSubscriptionComponent",
  props: {
    event: Array
  },
  data() {
    return {
      eventData: {},
      loading: false,
      isBlocked: false,
      isSubscribed: false,
      modifySub: EventSubscriptionModifyVue,
      params: {}
    };
  },
  methods: {
    subChanged() {
      this.load();
      this.$emit('sub-changed');
    },
    load() {
      this.checkSubscriptionStatus();
    },
    setParamsForSubModify(status) {
      SubData.subState = status;
      SubData.params.data = this.eventData;
      SubData.params.id = this.eventId;
    },
    checkSubscriptionStatus() {
      if (this.eventId <= 0) {
        return;
      }

      EventService.canSubscribe(this.eventId).then((res) => {
        let status = res.data.data;

        if (status === "subscribed") {
          this.isSubscribed = true;
        }

        if (status === "unsubscribed") {
          this.isSubscribed = false;
        }

        if (status === "blocked") {
          this.isSubscribed = false;
          this.isBlocked = true;
        }

        this.setParamsForSubModify(status);
      });
    },
    close() {
     this.isModify = false;
    },
    open() {
      this.isModify = true;
    }
  },
  computed: {
    isModify: {
      get() {
        return SubData.isModify;
      },
      set(val) {
        SubData.isModify = val;
      }
    }
  },
  watch: {
    event(arr) {
      if(arr[0]) {
        this.eventData = arr[0];
        this.eventId = this.eventData.id;

        this.load();
      }
    }
  }
};
</script>