<template>
  <section class="event-editor-component">
    <!-- Event Info section -->
    <section class="event-info-card">
      <div class="card card-primary">
        <div class="card-header">
          <div class="card-title">Details</div>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" @click="editEvent()" v-if="canModify">
              <i class="fas fa-cog"></i>
            </button>
            <button
              v-on:click="load()"
              type="button"
              class="btn btn-tool"
              data-card-widget="card"
            >
              <i class="fas fa-sync-alt"></i>
            </button>
            <button
              type="button"
              class="btn btn-tool"
              data-card-widget="collapse"
            >
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-8">
              <event-cards
                :canOpen="false"
                :events="event"
                :isModify="false"
              ></event-cards>
            </div>
            <div class="col-md-4">
              <span v-if="user">
                <user-card
                  subtitle="(Owner)"
                  :showCrown="true"
                  :isLoading="isLoading"
                  :user="user"
                ></user-card>
              </span>
              <span v-else>
                <div class="alert alert-info">No event owner assigned</div>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <event-phase-component ref="eventStatus"></event-phase-component>
            </div>
            <div class="col" v-if="hasSub && hasSubTeam">
              <event-subscribed-team-info :team="subscriber"></event-subscribed-team-info>
            </div>
            <div class="col" v-if="hasSub && !hasSubTeam">
              <event-subscribed-user-info :user="subscriber"></event-subscribed-user-info>
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <event-subscription-component :event="event" @sub-changed="load"></event-subscription-component>
        </div>
        <div v-if="isLoading" class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>

      <!-- Event Team (Organizers) -->
      <section class="event-organizers">
        <div class="card card-primary collapsed-card">
          <div class="card-header">
            <div class="card-title">Event Team</div>
            <div class="card-tools">
              <button
                type="button"
                class="btn btn-tool"
                data-card-widget="collapse"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div
                class="col-md-4"
                v-for="member in organizers"
                :key="member.id"
              >
                <user-card :user="member"></user-card>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>

    <!-- LeaderBoard -->
    <section class="event-live-ticker">
      <div class="card card-primary">
        <div class="card-header">
          <div class="card-title">Leaderboard</div>
          <div class="card-tools">
            <button
              type="button"
              class="btn btn-tool"
              data-card-widget="collapse"
            >
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <live-ticker-component :eventId="parseInt(eventId)"></live-ticker-component>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
import { EventService, SubData } from "../../services/events/EventService";
import { Utils } from "../../utils/utils";
import LiveTickerComponent from "../liveticker/LiveTickerComponent.vue";
import UserCard from "../user/UserCard.vue";
import EventCards from "./EventCards.vue";
import EventPhaseComponent from "./EventPhaseComponent.vue";
import { PermissionService } from './../../services/PermissionService';
import EventSubscriptionComponent from './EventSubscriptionComponent.vue';
import EventSubscribedTeamInfo from './info/EventSubscribedTeamInfo.vue';
import EventSubscribedUserInfo from './info/EventSubscribedUserInfo.vue';
import {SubscriptionService} from './../../services/SubscriptionService';

export default {
  components: {
    EventCards,
    UserCard,
    LiveTickerComponent,
    EventPhaseComponent,
    EventSubscriptionComponent,
    EventSubscribedTeamInfo,
    EventSubscribedUserInfo
  },
  name: "EventInfoComponent",
  data() {
    return {
      eventId: 0,
      isLoading: false,
      event: [],
      user: {},
      canModify: false,
      organizers: [],
      subMeta: [],
    };
  },
  mounted() {
    this.eventId = this.$route.params.id;
    this.load();
  },
  methods: {
    loadEventStatus() {
      this.$refs["eventStatus"].load();
    },
    load() {
      this.getEventDetails();
      this.loadEventStatus();
      this.checkPermissions();
      this.getSubMeta();
    },
    getEventDetails() {
      if (this.eventId <= 0) {
        return;
      }
      this.isLoading = true;

      EventService.getEventById(this.eventId)
        .then((res) => {
          let data = res.data.data;
          this.event = data;
          this.user = data[0].owner;
          this.organizers = data[0].organizers;
          SubData.params.id = this.eventId;
        })
        .finally(() => (this.isLoading = false));
    },
    editEvent() {
      Utils.editEvent(this.eventId, this);
    },
    checkPermissions() {
      PermissionService.canModifyEvent(this.eventId)
      .then(() => {
        this.canModify = true;
      }).catch(() => {
        this.canModify = false;
      })
    },
    getSubMeta() {
      if(!this.eventId > 0) {
        return;
      }

      SubscriptionService.getSubMeta(this.eventId)
      .then((res) => {
        let data = res.data.data;
        this.subMeta = data;
      });
    },
  },
  computed: {
    hasSubTeam() {
      return this.subMeta['isTeam'];
    },
    hasSub() {
      return this.subMeta['status'];
    },
    subscriber() {
      return this.subMeta['subscriber'];
    }
  },
  watch: {
    "$route.params.id": function (id) {
      this.eventId = id;
      this.load();
    },
  },
};
</script>