<template>
  <section class="modify-subscripton-component">
    <div class="card card-primary p-0 m-0">
      <div class="card-header">
        <div class="card-title">Modify Event Subscription</div>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
            @click="close()"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body text-left">
        <h4>{{ title }}</h4>
        <div class="solo-sub">
          <hr />
          <div class="tags bg-green">{{ modeName }} Mode</div>
          <hr />
          <span  v-if="canSubscribeTeam">
          <!--Modify options-->
            <div class="form-group" v-if="!isSubscribedTeam">
                <!-- Show selectbox, selection shows teamCard -->
                <label>Select team</label>
                <select v-model="selectedTeam" class="form-control" v-if="hasTeams">
                    <option :value="team.id" v-for="team in teams" :key="team.id">{{team.name}}</option>
                </select>
                <div v-else class="alert alert-info">
                  <span>You don´t lead any teams so far. <br>You may now create one </span>
                  <div class="simple-link" @click="gotoTeams">here</div>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-12">
                    <team-cards :canModify="false" :teams="teamToShow"></team-cards>
                </div>
            </div>
          </span>
          <!-- modify options END -->
        </div>
      </div>
      <div class="card-footer text-right">
          <span v-if="isSolo">
            <!-- -->
            <button
              class="btn btn-success"
              v-if="!isSubscribed"
              @click="subscribe()"
            >
              Subscribe Solo
            </button>
            <button
              class="btn btn-outline-danger"
              v-else
              @click="unSubscribe()"
            >
              Unsubscribe Solo
            </button>
          </span>
          <span v-if="isTeams">
            <button
              class="btn btn-success"
              v-if="!isSubscribedTeam"
              @click="subscribeTeam()"
            >
              Subscribe Team
            </button>
            <button
              class="btn btn-outline-danger"
              v-else
              @click="unSubscribeTeam()"
            >
              Unsubscribe Team
            </button>
          </span>

          <span v-if="isBoth">
            <button
              class="btn btn-success"
              v-if="!isSubscribed"
              @click="subscribe()"
            >
              Subscribe Solo
            </button>
            <button
              class="btn btn-outline-danger"
              v-else
              @click="unSubscribe()"
            >
              Unsubscribe Solo
            </button>

            <button
              class="btn btn-success"
              v-if="!isSubscribedTeam"
              @click="subscribeTeam()"
            >
              Subscribe Team
            </button>
             <button
              class="btn btn-outline-danger"
              v-else
              @click="unSubscribeTeam()"
            >
              Unsubscribe Team
            </button>

          </span>
      </div>
    </div>
    <div v-if="isLoading" class="overlay">
      <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </div>
  </section>
</template>
<script>
import { EventService, SubData } from "../../services/events/EventService";
import { TeamService } from '../../services/teams/TeamService';
import { Utils } from '../../utils/utils';
import TeamCards from '../team/TeamCards.vue';

export default {
  components: { TeamCards },
  name: "EventSubscriptionModifyComponent",
  props: {
    params: Object,
  },
  data() {
    return {
      isLoading: false,
      isSubscribedTeam: false,
      teams: [],
      selectedTeam: 0,
      teamToShow: [],
    };
  },
  methods: {
    load() {
      this.isLoading = true;
      this.getEventData();
    },
    getEventData() {
      this.isLoading = true;

      EventService.getEventById(this.eventId)
      .then((res) => {
        let data = res.data.data[0];
        SubData.params.id = data.id;
        SubData.params.data = data;

        this.getUserTeams();
        this.getSubscribedTeam();
      })
    },
    getUserTeams() {
        this.isLoading = true;

        TeamService.getTeams()
        .then((res) => {
            let data = res.data.data;
            this.teams = data;

        }).finally(() => this.isLoading = false);
    },
    getSubscribedTeam() {
      this.isLoading = true;

      if(!this.eventId)  {
        return;
      }

      EventService.getSubscribedTeam(this.eventId)
      .then((res) => {
        let data = res.data.data;
        if(data && data.id > 0) {
          this.selectedTeam = data.id;
          this.isSubscribedTeam = true;
          this.teamToShow = [];
          this.teamToShow.push(data);
        }

      }).finally(() => this.isLoading = false);
    },
    subscribe() {
      this.isLoading = true;

      if (this.eventId <= 0) {
        return;
      }

      EventService.subscribeUser(this.eventId)
        .then((res) => {
          this.load();
          this.$emit('modal-data');
          this.isSubscribed = true;
          
          this.close();
        })
        .finally(() => (this.isLoading = false));
    },
    unSubscribe() {
      this.isLoading = true;

      if (this.event.id <= 0) {
        return;
      }

      EventService.unsubcribeUser(this.event.id)
        .then((res) => {
          this.load();
          this.$emit('modal-data');
          this.isSubscribed = false;
          
          this.close();
        })
        .finally(() => (this.isLoading = false));
    },
    subscribeTeam() {
      this.isLoading = true;

      if (this.event.id <= 0) {
        return;
      }

      EventService.subscribeTeam(this.event.id, this.selectedTeam)
      .then(() => {
        this.load();
        this.$emit('modal-data');
        this.isSubscribedTeam = true;
        
        this.close();
      }).finally(() => this.isLoading = false);
    },
    unSubscribeTeam() {
      this.isLoading = true;

      if (this.event.id <= 0) {
        return;
      }

      EventService.unsubcribeTeam(this.event.id, this.selectedTeam)
      .then(() => {
        this.load();
        this.$emit('modal-data');
        this.isSubscribedTeam = false;
        
        this.close();
      }).finally(() => this.isLoading = false);
    },
    wrap(team) {
        return Utils.wrapArray(team);
    },
    reset() {
      SubData.params.data = null,
      SubData.subState = "";

      this.teams = [];
      this.selectedTeam = 0;
      this.teamToShow = [];
    },
    close() {
      this.reset();
      this.$emit("modal-close");
    },
    gotoTeams() {
      this.close();
      Utils.openTeams(this);
    }
  },
  computed: {
    isModify() {
      return SubData.isModify;
    },
    canSubscribeTeam() {
      //only teams or Both
      return this.event
        ? this.event.event_mode.id === 2 || this.event.event_mode.id === 3
        : false;
    },
    canSubscribe() {
      //Only Solo, or Both
      return this.event
        ? this.event.event_mode.id === 1 || this.event.event_mode.id === 3
        : false;
    },
    isSolo() {
      return this.event ? this.event.event_mode.id === 1 : false;
    },
    isTeams() {
      return this.event ? this.event.event_mode.id === 2 : false;
    },
    isBoth() {
      return this.event ? this.event.event_mode.id === 3 : false;
    },
    modeName() {
      return this.event ? this.event.event_mode.name : "";
    },
    event() {
      return SubData.params.data;
    },
    title() {
      return this.event ? this.event.title : "";
    },
    selectedTeamData() {
      let data = this.teams.filter((item) => item.id === this.selectedTeam);
      return data;
    },
    status() {
      return SubData.subState;
    },
    isSubscribed() {
      return this.status === "subscribed" ? true : false;
    },
    eventId() {
      return SubData.params.id;
    },
    hasTeams() {
      return this.teams && this.teams.length > 0;
    } 
  },
  watch: {
    isModify(val) {
      if (val) {
        this.load();
      }
    },
    selectedTeam(val) {
      if(this.selectedTeamData && !this.isSubscribedTeam) {
        this.teamToShow = this.selectedTeamData;
      }
    }
  },
};
</script>