<template>
  <section class="event-details-editor">
    <div class="card card-primary">
      <div class="card-header">
        <div class="card-title">
          <p>Event Details</p>
        </div>
        <div class="card-tools">
          <button
            v-if="isEdit"
            v-on:click="load()"
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-sync-alt"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="p-2" v-if="isEdit">
          <router-link :to="{name: 'event-details', params: {id: eventId}}">Show Event Page</router-link>
          <hr>
        </div>
        <div class="event-details-form p-4">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              name="title"
              class="form-control"
              v-model="event.title"
            />
          </div>
          <div class="form-group">
            <label for="name">Description</label>
            <textarea
              name="description"
              class="form-control"
              v-model="event.event_description"
            ></textarea>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Event start</label>
                <div class="input-group date" data-target-input="nearest">
                  <datetime
                    v-model="event.start_date"
                    input-class="form-controll"
                    type="datetime"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <label>Deadline</label>
                <div class="input-group date">
                  <datetime
                    v-model="event.end_date"
                    input-class="form-controll"
                    type="datetime"
                  />
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="fa fa-calendar"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Event Visibility</label>
            <select v-model="event.vis_id" class="custom-select">
              <option v-for="vis in visibilities" :key="vis.id" :value="vis.id">
                {{ vis.visibility }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Event Mode</label>
            <select v-model="event.event_mode" class="custom-select">
              <option
                v-for="mode in eventModes"
                :key="mode.id"
                :value="mode.id"
              >
                {{ mode.name }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn btn-sm btn-primary float-right" @click="save()">
          Save Info
          <i class="fas fa-save"></i>
        </div>
      </div>
       <div v-if="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import api from "./../../api";
import { store } from "./../UI/Tabs/store";
import {
  EventService,
  ModifyActions,
  SubData,
  EditComponentName,
  AddComponentName,
} from "../../services/events/EventService";
import { get } from "jquery";

export default {
  data() {
    return {
      loading: false,
      event: {},
      visibilities: [],
      eventModes: [],
      eventId: 0,
    };
  },
  methods: {
    load() {
      EventService.checkMode(() => {
        this.params.action = ModifyActions.EDIT;
        this.loadData();
      }, () => {
        this.loadDomains();
        this.params.action = ModifyActions.ADD;
      }, this);
    },
    reset() {
      this.event = {};
    },
    async loadData() {
      this.loading = true;
      if(!this.eventId) {
        return;
      }

      EventService.show(this.eventId)
        .then((res) => {
          let data = res.data.data;
          this.event = data.event;
          this.eventModes = data.event_modes;
          this.visibilities = data.event_visibilities;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    async save() {
      if (this.params.action == this.ACTIONS.ADD) {
        this.store();
      } else {
        this.update();
      }
    },
    async loadDomains() {
      EventService.getDomains().then((res) => {
        let data = res.data.data;
        this.eventModes = data.event_modes;
        this.visibilities = data.event_visibilities;
      });
    },
    async update() {
      this.loading = true;
      EventService.update(this.eventId, this.event)
        .then(() => {
          this.loadData();

          this.$emit('update');
        })
        .finally(() => (this.loading = false));
    },
    async store() {
      this.loading = true;
      EventService.store(this.event)
        .then((res) => {
          this.params.id = res.data.data.id;
          this.loadData();

          this.$emit('stored', this.params.id);
        })
        .finally(() => (this.loading = false));
    },
  },
  mounted() {
    this.eventId = this.$route.params.id;
    this.load();
  },
  created() {
    this.ACTIONS = ModifyActions;
  },
  computed: {
    params() {
      get: {
        return SubData.params;
      }
      set: (val) => {
        SubData.params = val;
      };
    },
    isEdit() {
      return this.params.action === ModifyActions.EDIT;
    }
  },
};
</script>