<template>
  <section class="event-phase-component">
    <div class="info-box" :class="bgForPhase">
      <span class="info-box-icon">
        <i v-if="phase == 1" class="fas fa-user-clock"></i>
        <i v-if="phase == 2" class="fas fa-gamepad"></i>
        <i v-if="phase == 3" class="fas fa-flag-checkered"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Event Status</span>
        <span class="info-box-number">Phase {{ phase }}</span>
        <span class="progress-description">
          <span v-if="phase === 1"> Registration ends  {{ remainingTime }} </span>
          <span v-if="phase === 2"> Live ends {{ remainingTime }} </span>
          <span v-if="phase === 3"> Finished since {{ remainingTime }} </span>
        </span>
      </div>
      <!-- /.info-box-content -->
    </div>
  </section>
</template>
<script>
import { EventService } from "../../services/events/EventService";
import { Utils } from "../../utils/utils";
import moment from "moment";
import party from "party-js";

export default {
  data() {
    return {
      event: Object,
      phase: 0, //phase number
      progress: 0,
      eventId: 0,
      remainingTime: "",
      timer: null,
    };
  },
  methods: {
    load() {
      this.eventId = this.$route.params.id ? this.$route.params.id : 0;
      if (this.eventId > 0) {
        EventService.getEventById(this.eventId).then((res) => {
          this.event = res.data.data[0];
          this.determinePhase();
        });
      }
    },
    determinePhase() {
      this.timer = setInterval(() => {
        this.calcProgress();
      }, 1000);
      this.calcProgress();
    },
    calcProgress() {
      if (this.phase === 0) {
          this.phase = 1;
        }

        let remainPhaseOne = this.calcPhaseOneRemaining(false);
        let remainPhaseTwo = this.calcPhaseTwoRemaining(false);

        if (remainPhaseOne > 0 && remainPhaseTwo > 0) {
          this.phase = 1;
          this.calcPhaseOneRemaining(true);
        } else {
          this.phase = 2; //set phase 2
        }

        if (remainPhaseOne <= 0 && remainPhaseTwo > 0) {
          this.phase = 2;
          this.calcPhaseTwoRemaining(true);
        }

        if (remainPhaseTwo < 0) {
          this.phase = 3;
          this.progress = 100;

          if(this.timer) {
            clearInterval(this.timer);
          }

          this.confetti();
          setTimeout(() => {
            this.confetti();

            setTimeout(() => {
              this.confetti();
            }, 2400);
          }, 2000);

          return;
        }
    },
    calcPhaseOneRemaining(setProgress) {
      let startTime = this.event.start_date;
      let timeRemaining = this.calcRemainingProgress(startTime, setProgress);

      return timeRemaining;
    },
    calcPhaseTwoRemaining(setProgress) {
      let endTime = this.event.end_date;
      let timeRemaining = this.calcRemainingProgress(endTime, setProgress);

      return timeRemaining;
    },
    calcRemainingProgress(endTimeDate, setProgress) {
      let startTime = endTimeDate;
      let endTime = moment(startTime);
      let timeNow = moment(moment.now());
      let timeRemaining = endTime.diff(timeNow);
      this.remainingTime = moment(moment.now()).to(startTime);

      return timeRemaining;
    },
    updateEventData() {
      this.load();
      this.phase = 0;
    },
    confetti() {
      let tag = $(".event-phase-component")[0];
      if(tag) {
        party.confetti($(".event-phase-component")[0], {
          count: party.variation.range(20, 40),
        });
      }
    },
  },
  mounted() {
    this.load();
  },
  computed: {
    bgForPhase() {
      let bg = "bg-gradient-info";

      if (this.phase === 1) {
        bg = "bg-gradient-info";
      }

      if (this.phase === 2) {
        bg = "bg-gradient-warning";
      }

      if (this.phase === 3) {
        bg = "bg-gradient-success";
      }

      return bg;
    },
  },
  watch: {
    "$route.params.id": function (id) {
      this.load();
    },
  },
};
</script>