<template>
  <section class="my-events-component">
    <div class="card card-primary p-0 m-0">
      <div class="card-header">
        <div class="card-title">
            <i class="fas fa-calendar-day mr-1"></i>
            Your own events | {{totalEvents}}
        </div>
        <div class="card-tools">
          <button
            @click="modify(ACTIONS.ADD)"
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-calendar-plus"></i>
          </button>
          <button
            v-on:click="eventsLoad()"
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-sync-alt"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <!-- Events List -->
        <div class="row">
          <div class="col-md-6" v-for="event in events" :key="event.id">
            <event-cards :events="wrapArray(event)" :isModify="true"></event-cards>
          </div>
        </div>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>
  </section>
</template>
<script>
import api from "./../../api";
import EventCards from './EventCards.vue';
import { UserStore } from '../../services/user/UserService';
import { Utils } from '../../utils/utils';
import { EventService, ModifyActions } from '../../services/events/EventService';

export default {
  components: { EventCards },
  name: "EventOwnerComponent",
  data() {
    return {
      events: [],
      loading: false,
    };
  },
  mounted() {
    this.eventsLoad();
  },
  methods: {
    async eventsLoad() {
      this.loading = true;

      EventService.getUserEventsOwner()
      .then((res) => {
          if (res.data.data) {
            this.events = res.data.data;
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    wrapArray(event) {
      return Utils.wrapArray(event);
    },
    modify(action, id) {
      EventService.setParams(action, id);

      if(action === ModifyActions.ADD) {
        Utils.addEvent(this);
        return;
      }

      if(action === ModifyActions.EDIT) {
        Utils.editEvent(id, this);
        return;
      }

    },
    openDialog() {
      EventService.openDialog();
    },
    reloadList() {
      this.eventsLoad();
    },
    reset() {
      state.params.id = 0;
    },
  },
  computed: {
      totalEvents() {
          return this.events.length;
      },
  },
  created() {
    this.ACTIONS = ModifyActions;
  }
};
</script>
