<template>
  <section>
    <div v-for="event in events" :key="event.id">
      <div class="card card-widget card-secondary">
        <div class="custom-overlay">
          <div class="overlay-text" style="display:none">go to event</div>
        </div>
        <div class="card-header clickable" @click="openEvent(event.id)">
          <div class="card-title">
            <strong>{{ event.title }}</strong>
          </div>
          <div class="card-tools"></div>
        </div>
        <div class="card-body p-1">
          <div class="d-flex">
            <div v-if="event.visibility.visibility == 'private'">
              <div class="tags bg-danger p-2">
                <span>{{ event.visibility.visibility + " event" }}</span>
              </div>
            </div>
            <div v-else>
              <div class="tags bg-blue p-2">
                <span>{{ event.visibility.visibility + " event" }}</span>
              </div>
            </div>
            <div class="tags bg-green p-2">
              <span>{{ event.event_mode.name + " mode" }}</span>
            </div>
          </div>
          <p class="p-2">{{ event.event_description }}</p>
          <div class="row">
            <div class="col">
              <div class="info-box mb-3">
                <span class="info-box-icon"
                  ><i class="fas fa-calendar-day"></i
                ></span>
                <div class="info-box-content">
                  <span class="info-box-text">Start</span>
                  <span class="info-box-number">{{ toDate(event.start_date) }}</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="info-box mb-3">
                <span class="info-box-icon"
                  ><i class="fas fa-calendar-check"></i
                ></span>
                <div class="info-box-content">
                  <span class="info-box-text">End</span>
                  <span class="info-box-number">{{ toDate(event.end_date) }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div
                class="info-box mb-3 d-flex"
              >
                <span class="info-box-icon"><i class="fas fa-child"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Participants</span>
                  <span class="info-box-number">{{ event.participants }}</span>
                </div>
              </div>
            </div>
            <div class="col">
              <div
                class="info-box mb-3 d-flex"
              >
                <span class="info-box-icon"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Teams</span>
                  <span class="info-box-number">{{ event.teams }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-end card-tools">
            <button
              type="button"
              class="btn btn-tool btn-success"
              @click="shareEvent()"
            >
              <i class="fas fa-share-alt"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import BaseModal from '../UI/Modal/BaseModal.vue';
import EventSubscriptionComponent from './EventSubscriptionComponent.vue';
import { EventService, SubData, ModifyActions } from '../../services/events/EventService';
import { Utils } from '../../utils/utils';

export default {
  components: { BaseModal },
    props: {
        events: Array,
        isModify: {
          type: Boolean,
          default: false,
        },
        canOpen: {
          type: Boolean,
          default: true,
        }
    },
    data() {
      return {
        subModal: EventSubscriptionComponent,
      }
    },
    created() {
        this.ACTIONS = ModifyActions;
    },
    mounted() {
    },
    methods: {
        shareEvent() {
            //
        },
        isTeam(mode) {
            return !((mode == 3) || (mode == 2));
        },
        isSolo(mode) {
            return !((mode == 1) || (mode === 3));
        },
        isBoth(mode) {
            return mode == 3;
        },
        modifySubscription(action, eventId) {
          EventService.setParams(eventId, action);
        },
        toDate(date) {
          return Utils.convertTimestampToDateTime(date);
        },
        openEvent(id) {
          if(this.canOpen) {
            Utils.openEvent(id);
          }
        }
    }
}
</script>
