<template>
    
</template>
<script>
export default {
    name: "EventEnrollmentComponent",
    props: {

    },
    data() {
        return {

        }
    },
    methods: {
        
    }
}
</script>