<template>
  <section>
    <event-owner-component></event-owner-component>
    <organizer-events-component></organizer-events-component>
    <user-events-component></user-events-component>
  </section>
</template>

<script>
import axios from "axios";
import api from "./../../api";
import EventOwnerComponent from './EventOwnerComponent.vue';
import OrganizerEventsComponent from './OrganizerEventsComponent.vue';
import UserEventsComponent from './UserEventsComponent.vue';

//manager component
export default {
  components: { UserEventsComponent, OrganizerEventsComponent, EventOwnerComponent },
  name: "EventComponent",
  data() {
    return {
    };
  },
  mounted() {
  },
  methods: {
  },
};
</script>
