<template>
    <section class="events-list-user">
      <div class="card card-primary collapsed-card">
        <div class="card-header">
          <div class="card-title">Organizer Events | {{this.totalEvents}}</div>
          <div class="card-tools">
            <button
              v-on:click="load()"
              type="button"
              class="btn btn-tool"
              data-card-widget="card"
            >
              <i class="fas fa-sync-alt"></i>
            </button>
            <button
              type="button"
              class="btn btn-tool"
              data-card-widget="collapse"
            >
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <div class="card-body collapse">
          <div class="row">
            <div class="col-md-6" v-for="event in events" :key="event.id">
              <event-cards :events="wrapArray(event)" :isModify="false"></event-cards>
            </div>
          </div>
        </div>
        <div v-if="loading" class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </section>
</template>
<script>
import axios from 'axios';
import api from './../../api';
import EventCards from './EventCards';
import { Utils } from '../../utils/utils';
import { EventService } from '../../services/events/EventService';

export default {
    components: {
        EventCards
    },
    data() {
        return {
            events: [],
            loading: false
        }
    },
    mounted() {
        this.load();
    },
    methods: {
       async load() {
           this.loading = true;

           EventService.getOrganizerEvents()
           .then((res) => {
               this.events = res.data.data;
           }).finally(() => this.loading = false);
       },
       wrapArray(event) {
         return Utils.wrapArray(event);
       }
    },
    computed: {
      totalEvents() {
        return this.events.length;
      }
    }
}
</script>