<template>
  <section class="organizer-component p-0 m-0">
    <div class="card card-primary">
      <div class="card-header">
        <div class="card-title">Event Team</div>
        <div class="card-tools">
          <button
            v-on:click="load()"
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-sync-alt"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
        <div class="card-body">
           <div class="p-4">
      <div class="member-list">
        <div class="form-group">
          <label>Organizers: {{ membersTotal }}</label>
        </div>
        <ul style="list-style: decimal">
          <li v-for="member in members" :key="member.user.id">
            <div class="row">
              <div class="col-md-8">
                <router-link :to="{name: 'channel', params: {id: member.user.id}}">{{ member.user.name }} | {{ member.user.email }}</router-link>
              </div>
              <div class="col-md-2">
                <strong
                  class="user-role"
                  v-for="role in member.user.roles"
                  :key="role.id"
                  >{{ role.name }}
                </strong>
              </div>
              <div class="col-md-2">
                <div
                  class="btn btn-sm btn-danger"
                  @click="remMember(member.user)"
                >
                  <i class="fas fa-user-times"></i>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <hr />
      <user-search-component
        :users="users"
        @modal-data="addMember"
        @modal-search="search"
      />
    </div>
        </div>
        <div class="card-footer">
          <div class="btn btn-primary float-right" @click="save">
            <span>Save</span>
            <i class="fas fa-save"></i>
          </div>
        </div>
        <div v-if="loading" class="overlay">
          <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import UserSearchComponent from "../user/UserSearchComponent.vue";
import api from "./../../api";
import axios from "axios";
import { store } from "./../UI/Tabs/store";
import { UserService } from "../../services/user/UserService";
import { SubData, EventService } from '../../services/events/EventService';
import {EventTeamService} from '../../services/events/EventTeamService';

export default {
  name: "OrganizationComponent",
  components: { UserSearchComponent },
  data() {
    return {
      users: [],
      members: [],
      loading: false,
      eventId: 0,
    };
  },
  methods: {
    hasDuplicate(user) {
      let data = this.members.find((element) => element.user.id == user.id);
      if (data) {
        return true;
      } else {
        return false;
      }
    },
    addMember(user) {
      if (!this.hasDuplicate(user)) {
        this.members.push({ user: user });
      }
    },
    remMember(user) {
      if (this.members.length > 0) {
        this.members = this.members.filter((member) => {
          return member.user.id !== user.id;
        });
      }
    },
    search(term) {
      UserService.userSearch(term)
        .then((res) => {
          this.users = res.data.data;
        })
        .finally(() => (this.loading = false));
    },
    load() {
       EventService.checkMode(() => {
        this.loadData();
      }, () => {
        //
      }, this);  
    },
    loadData() {
      this.loading = true;

        EventTeamService.show(this.eventId)
        .then((res) => {
          let data = res.data.data;
          this.members = data;
        })
        .finally(() => (this.loading = false));
    },
    save() {
      this.loading = true;

        EventTeamService.store( this.eventId, this.members)
        .then((res) => {
          this.load();
        })
        .finally(() => (this.loading = false));
    },
  },
  computed: {
    membersTotal() {
      return this.members.length;
    },
    params() {
      return SubData.params;
    },
  },
  mounted() {
    this.eventId = this.$route.params.id;
    
    this.load();
  },
};
</script>