<template>
    <section class="templates-component">
        <div class="card card-primary p-0">
            <div class="card-header">
                <div class="card-title">Create Points Calculation Templates</div>
            </div>
            <div class="card-body">
                <template-add-component></template-add-component>
            </div>
        </div>
    </section>
</template>
<script>
import TemplateAddComponent from './TemplateAddComponent.vue'
export default {
  components: { TemplateAddComponent },
    name: "TemplatesComponent",
}
</script>