<template>
    <section class="template-add-component">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">Event Selection</div>
            <div class="card-body">
              <div class="form-group">
                <label>Select Event</label>
                <select class="form-control" v-model="eventId">
                  <option :value="event.id" v-for="event in events" :key="event.id">{{event.title}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <point-template-editor :eventId="eventId"></point-template-editor>
    </section>
</template>
<script>
import { EventService } from '../../services/events/EventService';
import PointTemplateEditor from './pointseditor/PointTemplateEditor.vue';

export default {
  components: { PointTemplateEditor },
  data() {
    return {
      eventId: 0,
      events: [],
    }
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadEventsUser();
    },
    loadEventsUser() {
      EventService.getUserEventsOwner()
      .then((res) => {
        let data = res.data.data;
        this.events = data;
      });
    }
  }  
}
</script>