<template>
  <section class="template-modify-component">
    <div class="card card-primary p-0">
      <div class="card-header">
        <div class="card-title">Edit Point Calculation Template</div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">Templates Available</div>
              <div class="card-body">
                <div class="form-group">
                  <label>Select Template</label>
                  <select v-model="templateId" class="form-control">
                    <option value="0"> -- </option>
                    <option
                      :value="template.id"
                      v-for="template in templates"
                      :key="template.id"
                    >
                      {{ template.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <point-template-editor :eventId="eventId" :templateId="parseInt(templateId)" @template-saved="onTemplateSaved"></point-template-editor>
      </div>
    </div>
  </section>
</template>
<script>
import PointTemplateEditor from "./pointseditor/PointTemplateEditor.vue";
import { TemplateService } from "./TemplateService";

export default {
  components: { PointTemplateEditor },
  props: {
    eventId: {
      type: Number,
      default: 0,
    }
  },
  data() {
    return {
      templates: [],
      templateId: 0,
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadTemplates();
      this.getTemplateForEvent(parseInt(this.eventId));
    },
    loadTemplates() {
      TemplateService.getTemplates().then((res) => {
        let data = res.data.data;
        this.templates = data;
      });
    },
    getTemplateForEvent(eventId) {
      if(!eventId || eventId <= 0) {
        return;
      }

      TemplateService.getTemplateForEvent(eventId)
      .then((res) => {
        let data = res.data.data;
        this.templateId = data.id;
      });
    },
    onTemplateSaved(templateId) {
      this.load();
      this.templateId = parseInt(templateId);
    }
  },
  watch: {
    eventId(val) {
      this.getTemplateForEvent(val);
    }
  }
};
</script>