<template>
  <div class="tab-content" :id="tabContentId()">
    <div
      class="tab-pane fade"
      v-for="tab in tabs"
      :key="tab.name"
      :id="contentId(tab.name)"
      role="tabpanel"
      :aria-labelledby="contentAriaLabel(tab.name)"
    >
      <div :ref="containerName(tab.name)" class="p-0 m-0"></div>
      <div v-if="hasContent(tab)">{{ tab.content }}</div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import { TabsEventBus } from "./store";

export default {
  props: {
      tabs: Array,
  },
  mounted() {
    this.setupContent();
  },
  methods: {
    contentId(name) {
      return TabsEventBus.contentId(name);
    },
    contentAriaLabel(name) {
      return TabsEventBus.contentAriaLabel(name);
    },
    hasComponent(tab) {
      return TabsEventBus.hasComponent(tab);
    },
    hasContent(tab) {
      return TabsEventBus.hasContent(tab);
    },
    containerName(name) {
       return TabsEventBus.containerName(name);
    },
    hasTabParams(tab) {
      return TabsEventBus.hasTabParams(tab);
    },
    tabContentId() {
       return TabsEventBus.tabsSelector()+"-tabContent";
    },
    setupContent() {
      this.tabs.forEach((tab) => {
        if (this.hasComponent(tab)) {
          let ComponentClass = Vue.extend(tab.component);
          let params = {};

          if (this.hasTabParams(tab)) {
            params = tab.params;
          }

          let instance = new ComponentClass({
            propsData: { 
                params: params,
              },
          });

          instance.$mount(); // pass nothing
          let containerName = this.containerName(tab.name);
          this.$refs[containerName][0].appendChild(instance.$el);
        }
      });
    },
  }
};
</script>