<template>
    <ul class="nav nav-tabs" :id="tabsSelector()" role="tablist">
        <li class="pt-2 px-3">
            <h3 class="card-title"><i class="fas fa-calendar-day"></i><span>{{title}}</span></h3>
        </li>
            <li class="nav-item" v-for="tab in tabs" :key="tab.index">
            <a class="nav-link"
                :data-index=(tab.index)
                :id="tabId(tab.name)" 
                data-toggle="pill" 
                :href='tabLink(tab.name)'
                role="tab" 
                :aria-controls='ariaControlls(tab.name)' 
                :aria-selected='tab.active'>{{tab.name}}</a>
        </li>
    </ul>
</template>
<script>
import {TabsEventBus, store} from './store';

export default {
    props: {
        title: String,
    },
    methods: {
        ariaControlls(name) {
            return TabsEventBus.ariaControlls(name);
        },
        tabLink(name) {
            return TabsEventBus.tabLink(name);
        },
        tabId(name) {
            return TabsEventBus.tabId(name);
        },
        tabsSelector() {
            return TabsEventBus.tabsSelector();
        },
        contentMounted() {
            TabsEventBus.$emit('tabs-init');
        }
    },
    mounted() {
        $(document).ready(function() {
            TabsEventBus.selectTab(0);

            //check for client tab changes and emit to TabsEventBus
            $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
                TabsEventBus.$emit('tabs-changed', $(e.target).data('index'));
            });
        });
    },
    computed: {
        tabs() {
            return store.tabs;
        }
    }
}
</script>
