<template>
    <!--Live Ticker Preview Component -->
  <section class="live-ticker-overview">
    <section class="liveticker-tabs">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item w-50 text-center" role="presentation">
          <a
            class="nav-link active"
            style="border-radius: 0"
            id="solo-tab"
            data-toggle="tab"
            href="#solo"
            role="tab"
            aria-controls="solo"
            aria-selected="true"
            >Player Ranking</a
          >
        </li>
        <li class="nav-item w-50 text-center" role="presentation">
          <a
            class="nav-link"
            style="border-radius: 0"
            id="team-tab"
            data-toggle="tab"
            href="#team"
            role="tab"
            aria-controls="team"
            aria-selected="false"
            >Team Ranking</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="solo"
          role="tabpanel"
          aria-labelledby="solo-tab"
        >
            <ranking-component :stats="stats['users']"></ranking-component>
        </div>
        <div
          class="tab-pane fade"
          id="team"
          role="tabpanel"
          aria-labelledby="team-tab"
        >
            <ranking-component :stats="stats['teams']"></ranking-component>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
import { LeaderBoardService } from './LeaderBoardService';
import RankingComponent from './RankingComponent.vue';

export default {
  components: { RankingComponent },
  name: "LiveTickerComponent",
  props: {
    eventId: {
      type: Number,
      default: 0,
    },
  },
  data() {
        return {
            stats: [],
            timer: null
        }
    },
    mounted() {
        this.load();
        this.updateStatsChanges();
    },
    methods: {
        load() {
            this.loadEventStats();
        },
        loadEventStats() {

            if(this.eventId <= 0) {
                return;
            }
          
            LeaderBoardService.getEventStats(this.eventId)
            .then((res) => {
                let data = res.data.data;
                this.stats = data;
            });

        },
        updateStatsChanges() {
          window.Echo.channel('stats-changed').listen('StatsChangedEvent', (data) => {
            this.stats = data.stats;
          });
        }

    },
    watch: {
      eventId(val) {
        this.loadEventStats();
      }
    }
};
</script>
