<template>
  <section>
    <div class="card card-primary p-0">
      <div class="card-header">
        <div class="card-title">Manager LiveTickers</div>
        <div class="card-tools">
          <button
            @click="load"
            type="button"
            class="btn btn-tool"
            data-card-widget="card"
          >
            <i class="fas fa-sync"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Your Events</label>
                    <select class="form-control" v-model="selectedEvent">
                        <option value="0">--</option>
                        <option v-for="event in events" :key="event.id" :value="event.id">
                        {{ event.title }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Add Live Ticker</label>
                    <div class="w-100">
                        <div class="btn btn-flat btn-success w-100" @click="save">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2"></div>
        <div class="row">
        <div class="col-md-5"><strong>Event Name</strong></div>
        <div class="col-md-5"><strong>Live Ticker URL</strong></div>
        <div class="col-md-2"></div>
        <div class="mb-2"></div>
        </div>
        <div
          class="live-tickers"
          v-for="liveTicker in liveTickers"
          :key="liveTicker.id"
        >
          <div class="mb-2"></div>
          <div class="row">
            <div class="col-md-5">
              <div
                class="tags simple-link bg-blue"
                @click="openEvent(liveTicker.event.id)"
              >
                {{ liveTicker.event.title }}
              </div>
            </div>
            <div class="col-md-5 text-left">
              <section class="live-ticker-single" v-if="liveTicker.id > 0">
                <input
                  type="text"
                  readonly
                  class="form-control"
                  :value="liveTickerURL(liveTicker.token, liveTicker.event.id)"
                />
              </section>
            </div>
            <div class="col-md-2 text-right">
              <div class="btn btn-danger" @click="remove(liveTicker.id)">
                <i class="fas fa-times"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="loading" class="overlay">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
      </div>
    </div>
  </section>
</template>

<script>
import { Util } from "../../../livetickerexternal/Util";
import API, { WEB } from "../../api";
import { APP_HOST_URL } from "../../axios";
import { EventService } from "../../services/events/EventService";
import { Utils } from "../../utils/utils";
import { LiveTickerService } from "./../../services/liveticker/LiveTickerService";

export default {
  name: "MyLiveTickerComponent",
  components: {},
  data() {
    return {
      loading: false,
      events: [],
      liveTicker: {},
      selectedEvent: 0,
      eventId: 0,
      liveTickers: [],
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.getUserEvents();
      this.getAllLiveTickers();
    },
    getUserEvents() {
      this.loading = true;

      EventService.getUserEventsOwner()
        .then((res) => {
          let data = res.data.data;
          this.events = data;
        })
        .finally(() => (this.loading = false));
    },
    getLiveTickerData() {
      if (!this.eventId || this.eventId <= 0) {
        return;
      }

      LiveTickerService.getLiveTicker(this.eventId).then((res) => {
        let data = res.data.data;
        this.liveTicker = data;

        console.log("Received live ticker for event", this.liveTicker);
      });
    },
    getAllLiveTickers() {
      LiveTickerService.getAllLiveTickersUser().then((res) => {
        let data = res.data.data;
        this.liveTickers = data;
        console.log(this.liveTickers);
      });
    },
    save() {
      if (this.eventId <= 0) {
        return;
      }
      this.loading = true;
      LiveTickerService.storeLiveTicker(this.eventId).then((res) => {
        let data = res.data.data;
        this.liveTicker = data;

        this.load();
      }).finally(() => this.loading = false);
    },
    remove(id) {
        this.loading = true;
        LiveTickerService.removeLiveTicker(id)
        .then(() => {
            this.load();
        })
        .finally(() => this.loading = false);
    },
    liveTickerURL(token, event) {
      let url =
        APP_HOST_URL + WEB.LIVETICKER_STATS_EXTERNAL_WEB + "?token=" + token + "&event=" + event;

      if (!token) {
        return "";
      } else {
        return url;
      }
    },
    openEvent(eventId) {
      Utils.openEvent(eventId);
    },
  },
  watch: {
    selectedEvent(val) {
      if (val) {
        this.eventId = val;
      }
    },
  },
};
</script>
