<template>
    <section class="ranking">
        <table class="table">
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
                <tr v-for="(stat, index) in stats" :key="stat.user_id">
                    <td>#{{ index+1 }}</td>
                    <td>{{ stat.name }}</td>
                    <td>{{ stat.score }}</td>
                </tr>
            </table>
    </section>
</template>
<script>
export default {
    props: {
        stats: Array
    }
}
</script>