<template>
  <section class="streamer-events-preview">
    <div class="preview-carousel">
      <div
        id="streamerPreviewEvents"
        class="carousel slide"
        style="height: 55vh"
      >
        <ol class="carousel-indicators">
          <li
            v-for="(preview, index) in streamerPreviews"
            :key="preview.id"
            data-target="#streamerPreviewEvents"
            :data-slide-to="index"
            :class="isFirstIndex(index) ? 'active' : ''"
          ></li>
        </ol>
        <div class="carousel-inner w-90 m-auto">
          <div
            class="carousel-item"
            :class="isFirstIndex(index) ? 'active' : ''"
            v-for="(preview, index) in streamerPreviews"
            :key="preview.id"
          >
            <div class="row" :id="preview.user.name">
              <div class="col-sm-7 p-0">
                <h3 class="text-center bg-purple p-2 clickable" @click="openChannel(preview.user.id)">
                  {{ preview.user.name }}
                </h3>
                <twitch-live-stream-component
                  :ref="'info-' + index"
                  :user="preview.user"
                  :autoload="false"
                />
              </div>
              <div class="col-sm-5 p-0">
                <event-cards
                  :events="preview.event"
                  :isModify="false"
                ></event-cards>
              </div>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#streamerPreviewEvents"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#streamerPreviewEvents"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="no-preview" v-if="streamerPreviews.length == 0">
      <div class="alert alert-info text-center">
        There are currently no global events online...
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import StreamerEventInfoComponent from "./StreamerEventInfoComponent.vue";
import api from "./../../api";
import TwitchLiveStreamComponent from "../twitch/TwitchLiveStreamComponent.vue";
import EventCards from "../event/EventCards.vue";
import { Utils } from "../../utils/utils";
import _ from "lodash";

export default {
  components: { StreamerEventInfoComponent },
  name: "SteamerPrevie",
  components: { TwitchLiveStreamComponent, EventCards },
  data() {
    return {
      streamerPreviews: [],
      isLoading: false,
      firstEventId: 0,
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.loadPreview();
      this.setupCarousel();
    },
    async loadPreview() {
      await axios.get(api.EVENTS_GLOBAL_PREVIEW_STREAMERS + 3).then((res) => {
        this.streamerPreviews = res.data.data;

        if (this.streamerPreviews.length > 0) {
          this.firstEventId = this.streamerPreviews[0].id;

          setTimeout(() => {
            this.streamerPreviews.forEach((element, index) => {
              let user = element.user;
              Utils.setChannelBg(user.channel_banner, user.name);

              this.loadStream(index);
            });
          }, 2000);
        }
      });
    },
    wrapEvent(event) {
      let events = [];
      events.push(event);
      return events;
    },
    isFirstIndex(num) {
      return num == 0;
    },
    loadStream(num) {
      let streamInfoComp = this.$refs["info-" + num] ? this.$refs["info-" + num][0] : null;
      if(streamInfoComp) {
        streamInfoComp.activate();
      }
    },
    setupCarousel() {
      $(document).ready(() => {
        $("#streamerPreviewEvents").carousel({
          interval: 15000,
          keyboard: true,
          pause: "hover",
          ride: true,
          wrap: false,
          touch: true,
        });

        setTimeout(() => {
          $("#streamerPreviewEvents").carousel("next");
        }, 1000);

        $("#streamerPreviewEvents").on("slid.bs.carousel", (e) => {
          let index = e.to;
        });
      });
    },
    openChannel(id) {
      Utils.openChannel(id, this);
    }
  },
};
</script>