<template>
    <section class="streamer-event-info">
        <div class="row">
            <div class="col-md-8">
                <twitch-live-stream-component :user="user" :channelName="user.twitch_channel_name" :autoload="false"/>
            </div>
            <div class="col-md-4">
                <event-cards :events="event" :isModify="false"></event-cards>
            </div>
        </div>
    </section>
</template>
<script>
import EventCards from '../event/EventCards.vue'
import TwitchLiveStreamComponent from '../twitch/TwitchLiveStreamComponent.vue'
export default {
  components: { TwitchLiveStreamComponent, EventCards },
  props: {
      user: Object,
      event: Array,
  },  
}
</script>