//base live ticker styling file

.ecard {
    background-color: rgba(0,0,0, 0.7);
   }
   
   .ecard p {
     color: white;
   }
   
   .ecard .entry {
     padding-bottom: 2px;
   }
   
   .position {
     text-align: center;
   }
   
   .entry:first-child p {
     font-weight: bold;
     color: yellow;
   }
   
   .name {
   
   }
   
   .logo {
   
   }
   
   .headline {
     color: white;
     padding: 1em;
     font-size: 1.5em;
     font-weight: bold;
     text-transform: uppercase;
     background-color: rgba(0,0,0, 0.7);
     border-bottom: 1px solid white;
   }