<template>
    <section>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-primary p-0">
                    <div class="card-header">
                        <div class="card-title"><!-- Title goes here--> Change Profile</div>
                        <div class="card-tools">
                            <button
                                @click="load()"
                                type="button"
                                class="btn btn-tool"
                                data-card-widget="card"
                            >
                                <i class="fas fa-sync"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" name="name" id="name" v-model="user.name"/>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <!--<input type="email" name="email" id="email" class="form-control" v-model="user.email"/>-->
                                <div readonly class="form-control" >{{user.email}}</div>
                            </div>
                            <div class="form-group">
                                <label>Bio</label>
                                <textarea class="form-control" v-model="user.bio"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="tiwtch_channel">Twitch Channel Name</label>
                                <input type="text" class="form-control" name="tiwtch_channel" id="tiwtch_channel" v-model="user.twitch_channel_name"/>
                            </div>
                            <a class="btn btn-outline-primary" :href="resetLink" target="_blank">Reset Password</a>
                            <div class="float-right">
                                <div class="btn btn-primary" @click="save()">
                                    <span>Save</span>
                                    <i class="fas fa-save"></i>
                                </div>
                            </div>
                    </div>
                    <div v-if="loading" class="overlay">
                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            Channel
                        </div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                                <label>Channel Banner</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <file-uploader-component 
                                            @on-uploaded="load" 
                                            :upload="uploadChannelBannerUri"
                                            :remove="removeChannelBannerUri" 
                                            :name="channelBannerUploadId"></file-uploader-component>
                                    </div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label>Avatar</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <file-uploader-component 
                                        @on-uploaded="load" 
                                        :upload="uploadLogoUri"
                                        :remove="removeLogoUri"
                                        :name="avatarUserId"></file-uploader-component>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            <span>Permissions</span>
                        </div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div v-if="user.roles">
                            <div v-for="role in user.roles" :key="role.id">
                                <table class="table">
                                    <tr>
                                        <th>Role</th>
                                        <th>Permission</th>
                                    </tr>
                                    <tr v-for="permission in role.permissions" :key="permission.id">
                                        <td>{{role.name}}</td>
                                        <td>{{permission.name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div v-else>
                            <p>No Permissions found</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><router-link :to="channelPage">Channel Preview</router-link></div>
                    <div class="card-body">
                        <user-show-case-component :user="user" :ref="showCase"></user-show-case-component>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import axios from 'axios';
import api from './../../api';
import { APP_API_URL, APP_HOST_URL } from '../../axios';
import UserShowCaseComponent from './UserShowCaseComponent.vue';
import FileUploaderComponent from './../UI/FileUploader/FileUploaderComponent.vue';
import { UserService } from '../../services/user/UserService';

export default {
  components: { UserShowCaseComponent, FileUploaderComponent },
    name: "ProfileComponent",
    data() {
        return {
            user: {
                id: 0,
            },
            loading: false,
            channelBannerUploadId: "channelBanner",
            avatarUserId: "avatarUser",
            showCase: "showCase",
        }
    },
    mounted() {
        this.load();
    },
    methods: {
        load() {
            this.getProfile();
        },
        reloadPreview() {
            this.$refs.showCase.load();
        },
        async getProfile() {
            this.loading = true;
            UserService.getProfile()
            .then((res) => {
                this.user = res.data.data;
                this.reloadPreview();
            }).finally(() => this.loading = false);
        },
        async save() {
            this.loading = true;
            UserService.updateProfile(this.user.id, this.user)
            .then((res) => {
                this.load();
            }).finally(() => this.loading = false);
        }
    },
    computed: {
        resetLink() {
            return APP_HOST_URL+ "/password/reset";
        },
        uploadChannelBannerUri() {
            return api.UPLOAD_CHANNEL_BANNER;
        },
        uploadLogoUri() {
            return api.UPLOAD_CHANNEL_LOGO;
        },
        removeChannelBannerUri() {
            return api.REMOVE_CHANNEL_BANNER;
        },
        removeLogoUri() {
            return api.REMOVE_CHANNEL_LOGO;
        },
        channelPage() {
            return "/channel/"+ this.user.id;
        }
    }
}
</script>