<template>
  <section class="user-showcase">
    <div class="Channel-user">
      <div class="card card-widget widget-user">
        <div
          id="channelBanner"
          class="widget-user-header text-white bg-info twitch-player-wrapper"
        >
          <h3 class="widget-user-username text-right">
            <span class="bg-purple p-2">{{ user.name }}</span>
          </h3>
          <div class="row p-4">
            <div class="col-sm-8 p-0">
              <twitch-live-stream-component
                ref="liveStream"
                :user="user"
                :autoload="true"
              ></twitch-live-stream-component>
            </div>
            <div class="col-sm-4 p-0">
              <twitch-live-chat-component
                ref="liveChat"
                :user="user"
              ></twitch-live-chat-component>
            </div>
          </div>
        </div>
        <div class="user-logo">
          <img class="img-circle" :src="user.logo" alt="User Logo" />
        </div>
        <div class="card-footer">
          <div class="bio">
            <div v-if="!user.bio">
              <p>No bio provided, yet</p>
            </div>
            <div v-else>
              <p>{{ user.bio }}</p>
            </div>
          </div>
          <!-- /.row -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import api from "./../../api";
import { APP_HOST_URL } from "../../axios";
import { UserHelper } from "./../../services/user/UserHelper";
import TwitchLiveChatComponent from '../twitch/TwitchLiveChatComponent.vue';
import TwitchLiveStreamComponent from '../twitch/TwitchLiveStreamComponent.vue';
import { Utils } from '../../utils/utils';

export default {
  components: { TwitchLiveStreamComponent, TwitchLiveChatComponent },
  name: "UserShowCaseComponent",
  props: {
    user: Object,
  },
  data() {
    return {
      userChannelName: "",
    };
  },
  mounted() {
    this.load();
  },
  methods: {
    load() {
      this.setChannelBg();
      this.setLogo();
      this.setChannelName();
    },
    setChannelBg() {
      let image = Utils.asset(this.user.channel_banner);
      document.getElementById("channelBanner").style.background =
        "url('" + image + "') center center";
      document.getElementById("channelBanner").style.backgroundSize = "cover";
    },
    setLogo() {
      if (!this.user.logo) {
        this.user.logo = Utils.asset("dist/img/defaultAvatar.png");
      } else {
        this.user.logo = Utils.asset(this.user.logo);
      }
    },
    setChannelName() {
      this.userChannelName = this.user.twitch_channel_name;
    },
  },
  watch: {
    user() {
      this.load();
    },
  },
};
</script>