<template>
  <section class="user-search">
    <div class="form-group">
          <label>Search Users: {{ this.numResults }}</label>
          <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fas fa-search"></i></div>
            </div>
              <input class="form-control" type="text" v-model="searchTerm" @keyup="search()"/>
          </div>
        </div>
        <div class="users-list">
          <ul>
            <li v-for="user in users" :key="user.id">
              <div class="row">
                <div class="col-sm-8">
                    <span class="nav-link" @click="openChannel(user.id)">{{ user.email }} | <span> {{ user.name }}</span>
                    </span>
                </div>
                <div class="col-sm-4">
                  <div class="btn btn-success" @click="onUserSelected(user)">
                    <i class="fas fa-check"></i>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div v-if="numResults == 0">
            <p>No records found</p>
        </div>
  </section>
</template>
<script>
import axios from 'axios';
import api from './../../api';
import { Utils } from '../../utils/utils';

export default {
  name: "UserSearchComponent",
  props: {
    users: Array,
  },
  data() {
    return {
      searchTerm: "",
      loading: false,
    };
  },
  methods: {
    close() {
      this.$emit("modal-close");
      this.searchTerm = "";
    },
    onUserSelected(user) {
      if(!user.id || user.id <= 0) {
        return;
      }

      this.$emit("modal-data", user); //send data to basemodal for relay
    },
    async search() {
        if(this.searchTerm.length >=3) {
          let doSearch = () => {
            this.$emit("modal-search", this.searchTerm);
          }
          Utils.debounce(doSearch(), 50);
        } else {
          this.users = [];
        }
    },
    openChannel(id) {
      Utils.openChannel(id, this);
    }
  },
  computed: {
    numResults() {
        return this.users.length;
    }
  },
  watch: {
    users(items) {
      if(items.length > 4) {
        this.users = items.splice(4, items.length) 
      }
    }
  }
};
</script>