<template>
  <section class="user-search-modal">
    <div class="card card-primary">
      <div class="card-header">
        <div class="card-title">
          Add Team Member
        </div>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="card" @click="close()">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <user-search-component></user-search-component>
      </div>
    </div>
  </section>
</template>
<script>
import UserSearchComponent from './UserSearchComponent.vue';
export default {
    components: { UserSearchComponent },
    data() {
        return {
            loading: false,
        }
    },
    mounted() {
        this.$on('user-add', (id) => {
            console.log("TODO: add user wiht id: ", id);
        });

        this.$on('user-search', (term) => {

        });
    },
    methods: {
        async addUser(id) {
            //
        },
        async search(term) {
            //
        },
        async load() {
            //
        },
    }
};
</script>