<template>
    <section class="user-list">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary m-0">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-user mr-1"></i>
                            Current Users | {{ totalUsers }}
                        </h3>
                        
                        <div class="card-tools">
                            <button
                                v-on:click="modifyUser(actions.EDIT)"
                                type="button"
                                class="btn btn-tool"
                                data-card-widget="card"
                                :disabled="!isEditUser"
                            >
                                <i class="fas fa-user-edit"></i>
                            </button>
                            <button
                                v-on:click="modifyUser(actions.ADD)"
                                type="button"
                                class="btn btn-tool"
                                data-card-widget="card"
                            >
                                <i class="fas fa-user-plus"></i>
                            </button>
                            <button
                                v-on:click="usersFetch()"
                                type="button"
                                class="btn btn-tool"
                                data-card-widget="card"
                            >
                                <i class="fas fa-sync-alt"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <!--Filter-->
                        <label>Search</label>
                        <input
                            class="form-control"
                            v-model="filters.name.value"
                        />
                        <br />
                        <!--Table-->
                        <v-table
                            name=""
                            :data="users"
                            :filters="filters"
                            :currentPage.sync="currentPage"
                            :pageSize="10"
                            @totalPagesChanged="totalPages = $event"
                            selectionMode="single"
                            selectedClass="table-info"
                            @selectionChanged="selectedRows = $event"
                            class="table table-bordered"
                        >
                            <thead slot="head">
                                <v-th sortKey="name">Name</v-th>
                                <v-th sortKey="email">Email</v-th>
                            </thead>
                            <tbody slot="body" slot-scope="{ displayData }">
                                <v-tr
                                    v-for="user in displayData"
                                    :key="user.id"
                                    :row="user"
                                >
                                    <td> <router-link :to='profileLink(user.id)'>{{ user.name }}</router-link></td>
                                    <td>{{ user.email }}</td>
                                </v-tr>
                            </tbody>
                        </v-table>
                        <!-- Table END-->
                        <br />
                        <!-- Pagination -->
                        <smart-pagination
                            :currentPage.sync="currentPage"
                            :totalPages="totalPages"
                            :maxPageLinks="maxLinks"
                        />
                    </div>
                    <div v-if="loading" class="overlay">
                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Modify Modal-->
        <user-modify-component
            :params="params"
            :isModify="isModifyUser"
            @dialogClose="closeModifyDialog"
            @listReload="reloadList"
        />
    </section>
</template>

<script>
import UserModifyComponent from "./UserModifyComponent.vue";
import api from './../../api';
import {UserHelper} from './../../services/user/UserHelper';
import { UserService } from '../../services/user/UserService';
import { Utils } from '../../utils/utils';

export default {
    name: "Users",
    components: {
        UserModifyComponent,
    },
    mounted() {
        this.usersFetch();
        this.table = this.findTable(this);//get v-table component
    },
    data() {
        return {
            table: {},
            loading: false,
            users: [],
            filters: {
                name: { value: "", keys: ["name", "email"] }
            },
            currentPage: 1,
            totalPages: 0,
            maxLinks: 5,
            selectedRows: [],
            actions: {
                ADD: "add",
                EDIT: "edit"
            },
            isModifyUser: false,
            params: {
                id: 0,
                action: ""
            }
        };
    },
    methods: {
        async usersFetch() {
            this.loading = true;
            
            UserService.getAllUsers()
            .then(result => {
                this.users = result.data.data;
            }).finally(() => this.loading = false);
        },
        findTable(self) {
            return self.$children.find((e) => e.$options._componentName = "v-table");
        },
        modifyUser(action) {
            this.params.action = action;

            if(action === "add") {
                this.deselectAll();
            }

            this.openModifyDialog();
        },
        openModifyDialog() {
            this.isModifyUser = true; // tells child component to open the dialog
        },
        closeModifyDialog() {
            this.isModifyUser = false; // tells child component to close the dialog
        },
        reloadList() {
            this.usersFetch();
        },
        reset() {
            this.params.id = 0;
            this.selectedRows = [];
        },
        deselectAll() {
            this.table.deselectAll();
        },
        profileLink(id) {
            return Utils.channelLink(id);
        }
    },
    created() {

    },
    computed: {
        totalUsers() {
            return this.users.length;
        },
        isEditUser() {
            return this.params.id > 0;
        },
    },
    watch: {
        selectedRows() {
            if (this.selectedRows.length > 0) {
                this.params.id = this.selectedRows[0].id;
            } else {
                this.params.id = 0;
            }
        }
    }
};
</script>
