<template>
  <section class="user-info-card" v-if="user">
    <div class="card card-secondary p-0">
      <div class="card-header clickable" @click="openChannelPage(user.id)">
        <div class="card-title">
          <i v-if="showCrown" class="fas fa-crown"></i> {{ user.name }}
          <span v-if="subtitle"> | {{ subtitle }}</span>
        </div>
        <div class="card-tools"></div>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- About -->
          <div class="col-md-12">
            <div class="card" v-if="user.bio">
              <div class="card-header">
                <p>About</p>
              </div>
              <div class="card-body">
                <p>{{ user.bio }}</p>
              </div>
            </div>
          </div>
          <!-- Channel link -->
          <div class="col">
            <div class="info-box mb-3">
              <span class="info-box-icon"><i class="fab fa-twitch"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Twitch</span>
                <span class="info-box-number">
                  <a :href="'https://twitch.tv/'+user.twitch_channel_name" target="_blank">{{
                    user.twitch_channel_name
                  }}</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!-- your footer goes here -->
      </div>
    </div>
  </section>
</template>
<script>
import { Utils } from "../../utils/utils";

export default {
  data() {
    return {
      twitchUrl: "",
    };
  },
  props: {
    user: Object,
    showCrown: {
      type: Boolean,
      default: false,
    },
    subtitle: {
      type: String,
      default: "",
    },
  },
  methods: {
    openChannelPage(userId) {
      Utils.openChannel(userId, this);
    },
  },
};
</script>