<template>
  <section name="modal">
    <div class="modal fade" id="user-modify-modal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- card widget -->
          <div class="card card-primary m-0">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-user mr-1"></i>
                {{ this.getTitle }}
              </h3>

              <div class="card-tools">
                <button
                  :disabled="disableDeleteBtn"
                  @click="canDelete()"
                  type="button"
                  class="btn btn-tool"
                >
                  <i class="fas fa-user-minus"></i>
                </button>
                <button @click="close()" type="button" class="btn btn-tool">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>

            <div class="card-body">
              <section class="user-form">
                <div class="form-group">
                  <label for="name">Username</label>
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    v-model="user.name"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    v-model="user.email"
                  />
                </div>
                <div class="form-group">
                  <label for="email">Email verified </label>
                  <div class="input-group date" data-target-input="nearest">
                    <div
                      @click="clearVerifiedEmailInput()"
                      class="input-group-append"
                    >
                      <div class="input-group-text btn btn-danger">
                        <i class="fa fa-times-circle"></i>
                      </div>
                    </div>
                    <datetime
                      v-model="user.email_verified_at"
                      input-class="form-controll"
                      type="datetime"
                      title="Email verification date and time"
                    />
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <section class="password">
                  <div
                    class="btn btn-primary"
                    @click="togglePasswordBtn()"
                    v-bind:class="{
                      'float-right': isPassword,
                      disabled: disablePassword,
                    }"
                  >
                    <i class="fas fa-user-lock"></i>
                  </div>
                  <br />
                  <div v-if="isPassword">
                    <label class="" for="password">Password</label>
                    <div class="input-group">
                      <input
                        class="form-control"
                        type="password"
                        v-model="user.password"
                      />
                      <div
                        @click="generatePassword()"
                        class="input-group-append"
                      >
                        <div class="input-group-text btn btn-success">
                          <i class="fas fa-key"></i>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="form-group">
                      <label for="password-confirm"
                        >Password Confirmation</label
                      >
                      <input
                        class="form-control"
                        type="password"
                        v-model="user.password_confirmation"
                      />
                    </div>
                  </div>
                </section>
              </section>
            </div>
            <div class="card-footer">
              <div
                class="btn btn-sm btn-secondary float-left"
                v-on:click="close()"
              >
                Close
              </div>
              <div
                class="btn btn-sm btn-primary float-right"
                v-on:click="save()"
              >
                Save
                <i class="fas fa-save"></i>
              </div>
            </div>
          </div>
          <div v-if="loading" class="overlay">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
          </div>
          <!-- card widget end -->
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
import api from "./../../api";

export default {
  components: {},
  name: "UserModifyComponent",
  props: {
    params: Object,
    isModify: Boolean,
  },
  data() {
    return {
      user: {
        name: "",
        email: "",
        email_verified_at: "",
        password: "",
        password_confirmation: "",
      },
      loading: false,
      isPassword: false,
    };
  },
  methods: {
    togglePasswordBtn() {
      if (this.params.action !== "add") {
        this.isPassword = !this.isPassword; // toggle
      }
    },
    clearVerifiedEmailInput() {
      this.user.email_verified_at = "";
    },
    close() {
      $("#user-modify-modal").modal("hide");
      this.$emit("dialogClose"); //notify parent
      this.reset(); //clean data

      this.isPassword = false;
    },
    open() {
      $("#user-modify-modal").modal({
        backdrop: "static",
        keyboard: false,
      });

      if (this.params.action === "add") {
        this.isPassword = true;
      }

      this.usersFetch(this.params.id);
    },
    reset() {
      this.user.name = "";
      this.user.email = "";
      this.user.email_verified_at = "";
      this.user.password = "";
      this.user.password_confirmation = "";
    },
    generatePassword() {
      let pw =
        Math.random().toString(36).slice(2) +
        Math.random().toString(36).slice(2);
      this.user.password = pw;
      this.user.password_confirmation = pw;
    },
    callCloseDialogAndReloadList() {
      this.$emit("dialogClose"); //also reloads user list in parent
      this.$emit("listReload");
    },
    canDelete() {
      if (this.params.action !== "edit") {
        toastr.error("No user ID specified");
      } else {
        this.$confirm("Are you sure?")
        .then(() => {
          this.userRemove();
        });
      }
    },
    async userStore() {
      await axios
        .post(api.USER_STORE, this.user)
        .then((res) => {
          this.callCloseDialogAndReloadList();
        }).finally(() => (this.loading = false));
    },
    async userUpdate() {
      await axios
        .put(api.USER_UPDATE + this.params.id, this.user)
        .then((res) => {
          this.callCloseDialogAndReloadList();
        }).finally(() => (this.loading = false));
    },
    async usersFetch(id) {
      if (this.params.id <= 0) {
        return;
      }

      this.loading = true;

      await axios
        .get(api.USER_SHOW + this.params.id)
        .then((result) => {
          let data = result.data.data;
          this.user.name = data.name;
          this.user.email = data.email;
          this.user.email_verified_at = data.email_verified_at;
        }).finally(() => (this.loading = false));
    },
    async save() {
      this.loading = "true";

      if (this.params.action === "edit") {
        this.userUpdate();
      } else {
        this.userStore();
      }
    },
    async userRemove() {
      this.loading = true;

      await axios
        .delete(api.USER_DELETE + this.params.id)
        .then((res) => {
          this.callCloseDialogAndReloadList();
        }).finally(() => this.loading = false);
    },
  },
  watch: {
    isModify(val) {
      if (val) {
        this.open();
      } else {
        this.close();
      }
    },
    isPassword(val) {
      if (!val) {
        this.user.password = "";
        this.user.password_confirmation = "";
      }
    },
  },
  computed: {
    getTitle() {
      let title = "";
      try {
        title =
          this.params.action.charAt(0).toUpperCase() +
          this.params.action.slice(1) +
          " User";
      } catch (e) {}
      return title;
    },
    disablePassword() {
      let c = false;
      try {
        c = this.params.action && this.params.action === "add";
      } catch (e) {}
      return c;
    },
    disableDeleteBtn() {
      return (this.params.action === "add");
    }
  },
};
</script>
