<template>
  <section class="event-sub-team-info-component" v-if="team ? team.id : false">
    <div class="info-box bg-gradient-success" @click="openMyTeams">
      <span class="info-box-icon">
        <i class="fas fa-users"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Your Team</span>
        <span class="info-box-number">{{name}}</span>
      </div>
    </div>
  </section>
</template>
<script>
import { Utils } from '../../../utils/utils';
export default {
    props: {
        team: Object
    },
    methods: {
        openMyTeams() {
            Utils.openTeams(this);
        }
    },
    computed: {
      name() {
        return this.team && this.team.name ? this.team.name : "";
      }
    }
};
</script>