<template>
  <section class="event-sub-user-info-component" v-if="canShow">
    <div class="info-box bg-gradient-success" @click="openChannel(user.id)">
      <span class="info-box-icon">
        <i class="fas fa-user"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">You</span>
        <span class="info-box-number">{{name}}</span>
      </div>
    </div>
  </section>
</template>
<script>
import { Utils } from '../../../utils/utils';
export default {
    props: {
        user: Object
    },
    methods: {
        openChannel(id) {
            Utils.openChannel(id, this);
        }
    },
    computed: {
      name() {
        return this.user && this.user.name ? this.user.name : "";
      },
      canShow() {
        return this.user ? this.user.id : false;
      }
    }
};
</script>